@import '../../../../assets/styles/base.scss';
@import '../../../../assets/styles/font-face.scss';
.title{
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 10px;
}
.sub-title{
    color: rgb(110, 113, 115);
    padding: 5px 0 10px 0;
}
.MorePadding{
    padding: 20px;
}
.file-upload {
    /* margin-right: 25px; */
    margin: auto;
    display: flex;
    justify-content: center;
}
.images-child {
    border: 1px solid #D0D1D6;
    width: 92px;
    border-radius: 10px;
    height: 92px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    // background-image: url("../../../assets/images/icon_upload_photo.png");
    // background-repeat: no-repeat;
    // background-attachment: fixed;
}
.maxSize{
    padding-top: 10px;
}
.images-child p {
    color:  $primary-color;
    // font-family:  $ff-light;
    margin-bottom: 0;
    width: 80px;
    text-align: center;
    font-size: 13px;
    font-weight: 600;
    line-height: 1.3;
    letter-spacing: 1px;
}
.camera{
    width: 30px;
    display: flex;
    flex-direction: row-reverse;
    float: right;
    position: relative;
    left: 0.5vh;
    top: -2vh;
}
.uploadText{
    padding-left: 32px;
}
.preview-img {
    width: 90px;
    -o-object-fit: cover;
    object-fit: cover;
    height: 90px;
    border-radius: 10px;
}
.phonecode {
    position: absolute;
    top: 40px;
    left: 25px;
  }
.phoneNumber {
    padding-left: 45px
}
.save-btn{
    width: 100%;
    border-radius: 10px;
}
.tAndc,.loginAnchor{
    color: $primary-color !important;
}
.loginOuter{
    margin-top: 20px;
    text-align:center; 
}
.matBox-custom{
    //   max-width: 30rem;
    width: 50%;
}
@media (max-width: $breakpoint-medium) {
    .matBox-custom{
        width: 100%;
    }
}