<div class="loading-shade" *ngIf="isLoadingResults">
  <div class="spinner-container">
    <mat-spinner></mat-spinner>
  </div>
</div>
<mat-card class="matBox-custom container">
  <div class="row MorePadding">
    <div class="col-md-12">
      <div class="title">Create Account</div>
      <!-- <div class="sub-title">Please add your profile detail</div> -->
      <div class="row plr-10">
        <form #form="ngForm" class="col-md-12">
          <!-- form fields -->
          <div class="row">
            <!-- file uplaod -->
            <div class="form-group col-md-12 ">
              <div class="file-upload">
                <label for="profile_upload" class="file-upload-label">
                  <div class="images-child" *ngIf="!fileToUpload">
                    <p class="uploadText">Upload Image</p>
                    <img
                      src="https://storage.googleapis.com/dnnae/assets/icon_upload_photo.png"
                      class="camera"
                      alt="upload"
                    />
                  </div>
                  <span class="maxSize">(Max Size 4Mb)</span>
                  <div class="images-child" *ngIf="fileToUpload">
                    <img class="preview-img" [src]="imgURL" />
                  </div>
                </label>
                <input
                  id="profile_upload"
                  type="file"
                  (change)="uploadImage($event.target.files)"
                  accept="image/*"
                  class="file-upload-input"
                  name="file-upload"
                />
              </div>
            </div>

            <!--first name -->

            <div class="form-group col-md-12">
              <label for="firstName">First name</label>
              <input
                autocomplete="off"
                required
                type="text"
                class="form-control"
                [ngClass]="{ 'error-border': firstName.touched && firstName.invalid }"
                #firstName="ngModel"
                name="firstName"
                [(ngModel)]="model.firstName"
                placeholder="Enter your first name"
              />
              <!-- errors -->
              <div
                class="form-control-feedback globar-error-text"
                *ngIf="firstName.touched && firstName.invalid"
              >
                {{ firstName.errors.required ? 'First name is required.' : '' }}
              </div>
            </div>

            <!--last name -->

            <div class="form-group col-md-12">
              <label for="LastName">Last name</label>
              <input
                autocomplete="off"
                required
                type="text"
                class="form-control"
                [ngClass]="{ 'error-border': LastName.touched && LastName.invalid }"
                #LastName="ngModel"
                name="LastName"
                [(ngModel)]="model.LastName"
                placeholder="Enter your last name"
              />
              <!-- errors -->
              <div
                class="form-control-feedback globar-error-text"
                *ngIf="LastName.touched && LastName.invalid"
              >
                {{ LastName.errors.required ? 'Last name is required.' : '' }}
              </div>
            </div>

            <!--Company name -->

            <div class="form-group col-md-12">
              <label for="companyName">Company name</label>
              <input
                autocomplete="off"
                required
                type="text"
                class="form-control"
                [ngClass]="{ 'error-border': companyName.touched && companyName.invalid }"
                #companyName="ngModel"
                name="companyName"
                [(ngModel)]="model.companyName"
                placeholder="Enter your company name"
              />
              <!-- errors -->
              <div
                class="form-control-feedback globar-error-text"
                *ngIf="companyName.touched && companyName.invalid"
              >
                {{ companyName.errors.required ? 'Company name is required.' : '' }}
              </div>
            </div>

            <!-- Email Address -->

            <div class="form-group col-md-12">
              <label for="emailAddress">Email Address</label>

              <input
                autocomplete="off"
                required
                [pattern]="emailPattern"
                type="text"
                class="form-control"
                [ngClass]="{ 'error-border': email.touched && email.invalid }"
                #email="ngModel"
                name="email"
                [(ngModel)]="model.email"
                placeholder="Enter your Email"
              />

              <!-- errors -->
              <div
                class="form-control-feedback globar-error-text"
                *ngIf="email.touched && email.invalid"
              >
                {{
                  email.errors.required
                    ? 'Email is required.'
                    : email.errors.pattern
                    ? 'Email is invalid'
                    : ''
                }}
              </div>
            </div>

            <div class="col-md-12 no-padding mt-3">
              <button
                class="btn btn-primary-color save-btn"
                [disabled]="form.invalid"
                (click)="submit()"
              >
                Create Account
              </button>
            </div>
            <div class="form-group col-md-12 loginOuter">
              Already have an account?
              <a
                [routerLink]="['/recruiter/login']"
                queryParamsHandling="preserve"
                class="loginAnchor"
                >Login</a
              >
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</mat-card>
