<!-- Created by Affan Akhter -->
<div class="loading-shade" *ngIf="isLoadingResults">
  <div class="spinner-container">
    <mat-spinner></mat-spinner>
  </div>
</div>
<div class="newJob">
  <div class="inner-container">
    <mat-card>
      <div class="row center-align">
        <div class="col-md-12 title">
          <img class="logo" src="{{ globals.dnNaeLogo }}" alt="DNNae Logo" />
          <!-- <div>DNNae</div> -->
          <div *ngIf="jobID === 'All'">Please select the settings option below</div>
          <div *ngIf="jobID !== 'All'">Please select the settings for this job</div>
        </div>
        <div class=" row buttonsOuter">
          <!-- <message-list [messages]="messages"></message-list> -->
          <!-- <app-buttons [buttons]="buttons"></app-buttons> -->
          <button
            *ngIf="jobID === 'All'"
            class="col-md-4 btn btn-primary-color"
            [routerLink]="['/recruiter/profile']"
            queryParamsHandling="preserve"
          >
            Profile
          </button>
          <button
            [ngClass]="{
              'col-md-4': jobID === 'All',
              'col-md-8': jobID !== 'All'
            }"
            class="btn btn-primary-color"
            [routerLink]="['/recruiter/connections', jobID]"
            queryParamsHandling="preserve"
          >
            Connections
          </button>
          <button
            *ngIf="jobID === 'All'"
            class="col-md-4 btn btn-primary-color disabled"
            matTooltip="Coming Soon"
            [matTooltipClass]="'customToolTip'"
            [routerLink]="['/recruiter/Message', jobID]"
            queryParamsHandling="preserve"
          >
            Messages
          </button>
          <!-- [routerLink]="['/recruiter/Message', jobID]" -->
          <button
            *ngIf="jobID === 'All'"
            class=" col-md-6 btn btn-primary-color bottomButtons disabled"
            matTooltip="Coming Soon"
            [matTooltipClass]="'customToolTip'"
            [routerLink]="['/recruiter/calender_link']"
            queryParamsHandling="preserve"
          >
            Calendly Link
          </button>
          <button
            *ngIf="jobID === 'All'"
            class=" col-md-6 btn btn-primary-color bottomButtons disabled"
            matTooltip="Coming Soon"
            [matTooltipClass]="'customToolTip'"
            [routerLink]="['/recruiter/mail_integration']"
            queryParamsHandling="preserve"
          >
            Gmail Integration
          </button>
          <!-- [routerLink]="['/recruiter/mail_integration']" -->

          <!-- <div class="padding0 col-md-4 ">
            <label
              for="profile_upload"
              [routerLink]="['/recruiter/connections']"
              class="file-upload-label width-100perc "
            >
              <button class="btn btn-primary-color width-100perc ">Connections</button>
            </label>
          </div> -->
          <!-- <message-form [message]="message" [messages]="messages"></message-form> -->
        </div>
      </div>
    </mat-card>
  </div>
</div>
