<!-- Created by Affan Akhter -->
<div class="loading-shade" *ngIf="isLoadingResults">
  <div class="spinner-container">
    <mat-spinner></mat-spinner>
  </div>
</div>
<div class="newJob jobPreview">
  <div class="inner-container">
    <mat-card>
      <div class="row center-align">
        <div class="col-md-12 title">
          <img class="logo" src={{globals.dnNaeLogo}} alt="DNNae Logo" />
          <!-- <div>DNNae</div>
              <div>Your personal recruiter</div> -->
        </div>
        <div class="col-md-12 form-container">
          <!-- <message-list [messages]="messages" [JdData]="userJobDescription"></message-list> -->
          <!-- <message-form [message]="message" [messages]="messages"></message-form> -->
          <mat-accordion
            class="width-100perc"
            id="skills"
            *ngFor="let userData of userJobDescription; let i = index"
          >
            <mat-expansion-panel id="userScore">
              <!-- header panel -->
              <mat-expansion-panel-header class="panel-parent">
                <span class="panel-title">{{ userData.title }}</span>
              </mat-expansion-panel-header>
              <div *ngFor="let item of userData.tempData; let j = index; let last = last">
                <div>
                  <!-- Block for non technical skills  -->
                  <div class="editReasonOuter" *ngIf="userData.tag !== 'TECHNICAL_SKILLS'">
                    <!-- <div>{{ item }}</div> -->
                    <div class="issues-input">
                      <div class="form-group">
                        <textarea
                          type="text"
                          class="form-control"
                          [disabled]="item.disable"
                          id="text"
                          name="text"
                          placeholder="Please type {{ userData.title }}"
                          [(ngModel)]="item.data"
                          #text="ngModel"
                          required
                        >
                        </textarea>
                      </div>

                      <!-- errors -->
                      <div
                        class="form-control-feedback globar-error-text"
                        *ngIf="text.touched && text.invalid"
                      >
                        <div *ngIf="text.errors.required">{{ userData.title }} is required!</div>
                      </div>
                    </div>
                    <!-- actions  -->
                    <div class="issues-action">
                      <button
                        class="btn btn-light has-icon"
                        *ngIf="item.disable"
                        (click)="editFieldsEnable($event, userData, i, j)"
                      >
                        <i class="icon ion-md-create"></i>
                      </button>

                      <button
                        class="btn btn-primary-color has-icon"
                        *ngIf="!item.disable"
                        [disabled]="!item.data"
                        (click)="editFieldsEnable($event, userData, i, j)"
                      >
                        <i class="icon ion-md-checkmark"></i>
                      </button>
                      <button
                        class="btn btn-primary-color has-icon"
                        *ngIf="item.disable && last"
                        (click)="addNewReason($event, userData, i)"
                      >
                        <i class="icon ion-md-add"></i>
                      </button>
                    </div>
                  </div>

                  <!-- Block for technical skills -->
                  <div class="editReasonOuter" *ngIf="userData.tag === 'TECHNICAL_SKILLS'">
                    <!-- <div>{{ item }}</div> -->
                    <div class="issues-input">
                      <div class="form-group">
                        <textarea
                          type="text"
                          class="form-control"
                          [disabled]="item.disable"
                          id="text"
                          name="text"
                          placeholder="Please type {{ userData.title }}"
                          [(ngModel)]="item.name"
                          #text="ngModel"
                          required
                        >
                        </textarea>
                        <div class="sliderOuter row">
                          <mat-slider
                            class="scoreSlider col-sm-8"
                            id="scoreSlider"
                            thumbLabel
                            tickInterval="auto"
                            min="0"
                            max="5"
                            (input)="score($event, userData, i, j)"
                          >
                          </mat-slider>
                          <span class="col-sm-4 scoreText">{{ item.scoreText }}</span>
                        </div>
                      </div>

                      <!-- errors -->
                      <div
                        class="form-control-feedback globar-error-text"
                        *ngIf="text.touched && text.invalid"
                      >
                        <div *ngIf="text.errors.required">{{ userData.title }} is required!</div>
                      </div>
                    </div>
                    <!-- actions  -->
                    <div class="issues-action">
                      <button
                        class="btn btn-light has-icon"
                        *ngIf="item.disable"
                        (click)="editFieldsEnable($event, userData, i, j)"
                      >
                        <i class="icon ion-md-create"></i>
                      </button>

                      <button
                        class="btn btn-primary-color has-icon"
                        *ngIf="!item.disable"
                        [disabled]="!item"
                        (click)="editFieldsEnable($event, userData, i, j)"
                      >
                        <i class="icon ion-md-checkmark"></i>
                      </button>
                      <button
                        class="btn btn-primary-color has-icon"
                        *ngIf="item.disable && last"
                        (click)="addNewReason($event, userData, i)"
                      >
                        <i class="icon ion-md-add"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
          <div class="row no-padding mt-3">
            <button class="col-md-12  btn btn-primary-color save-btn" (click)="modifyData()">
              Next
            </button>
          </div>
        </div>
      </div>
    </mat-card>
  </div>
</div>
