@import '../../../../assets/styles/base.scss';
mat-card {
  width: 89.5%;
  padding: 0;
}

input {
  border-radius: 10px;
}
.jobPreview{
  align-items: inherit;
}
.next-btn {
  border-radius: 0.6rem;
  padding: 10px 15px; // width: 100%;
  width: 180px;
}
textarea.form-control {
  height: 65px !important;
}
.header-table {
  border-bottom: 1px solid #f2f4f8;
}

#skillstable tr th {
  padding: 10px 0px;
  font-family: 'ubuntuRegular';
  color: #9f9e9f;
  font-weight: unset;
}

#skills table tr td {
  padding: 20px 0px;
  border-bottom: 1px solid #f2f4f8;
  font-family: 'ubuntuRegular';
}
.editReasonOuter{
  display: flex;
}
mat-slider {
  width: 400px;
}


#skills .issues-numbering {
  width: 5%;
}

#skills .issues-input {
  width: 100%;
}

#skills .empty-td {
  width: 35%;
}

#skills .issues-action {
  width: 15%;
}

#skills table .form-group {
  margin-bottom: unset !important;
}

#skills .form-control:disabled,
.form-control[readonly] {
  border: none !important;
  background-color: unset !important;
}

#skills .add-new-reason {
  padding: 10px;
  color: $primary-color;
  font-family: 'ubuntuBold';
  width: 100%;
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid #f2f4f8;
}
.btn-link {
  color: $primary-color !important;
  font-family: 'ubuntuBold';
}

.title {
  margin-top: 12px;
  font-size: 20px;
  margin-bottom: 20px;
  font-family: 'ubuntuBold';
}
// .scoreSlider .mat-slider-horizontal .mat-slider-thumb-label{
//   transform: rotate(0deg);
//   border-radius: 0px;
//   top: -15px;
//   width: 100px;
//   /* left: 10px; */
//   right: -50px;
// }
.sliderOuter{
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 80%;
  margin-left: 5px;
}
.scoreSlider{
  width: 80%;
  float: left;
}
.scoreText{
  color: #0b92f3;
  /* font-weight: 600; */
  font-size: 16px;
}