<!-- Created by Affan Akhter -->
<!-- <div class="loading-shade" *ngIf="isLoadingResults">
    <div class="spinner-container">
      <mat-spinner></mat-spinner>
    </div>
  </div> -->
<div class="newJob newJD">
  <app-job-stepper [stepperInput]="stepperData" [populate]="populateStepper"></app-job-stepper>
  <div class="inner-container">
    <mat-card>
      <div class="row center-align">
        <div class="col-md-12 title">
          <div class="backButton">
            <i
              class="material-icons"
              matTooltip="Back"
              [routerLink]="['/recruiter/jobTitle', jobId, jdType]"
              queryParamsHandling="preserve"
            >
              arrow_back_ios
            </i>
            <!-- <span class="backText">Back</span> -->
          </div>
          <img class="logo" src="{{ globals.dnNaeLogo }}" alt="DNNae Logo" />
          <!-- <div>DNNae</div> -->
          <div class="sub-title">Company Name</div>
          <!-- <div class="sub-title-guide">
                Rank the experience required for this role using the slider
              </div> -->
        </div>

        <div class="row page-full-width noMargin">
          <div class="col-md-12">
            <!-- <form #form="ngForm" class="col-md-12"> -->
            <!-- form fields -->
            <!--Comapany name -->
            <div class="row">
              <div class="form-group col-sm-11">
                <!-- <label for="title"> write job description here.</label> -->
                <input
                  autocomplete="off"
                  autofocus
                  required
                  type="text"
                  class="form-control"
                  [disabled]="company.disable"
                  [ngClass]="{ 'error-border': title.touched && title.invalid }"
                  #title="ngModel"
                  name="title"
                  [(ngModel)]="company.companyName"
                  placeholder="Example: Google, Facebook"
                />
                <!-- errors -->
                <div
                  class="form-control-feedback globar-error-text"
                  *ngIf="title.touched && title.invalid"
                >
                  {{ title.errors.required ? 'Please provide Company Name.' : '' }}
                </div>
              </div>
              <!-- actions  -->
              <div class="issues-action col-sm-1" *ngIf="false">
                <button
                  class="btn btn-light has-icon"
                  *ngIf="company.disable"
                  (click)="editFieldsEnableCompany()"
                >
                  <i class="icon ion-md-create"></i>
                </button>

                <button
                  class="btn btn-primary-color has-icon"
                  *ngIf="!company.disable"
                  [disabled]="!company.companyName"
                  (click)="editFieldsEnableCompany()"
                >
                  <i class="icon ion-md-checkmark"></i>
                </button>
              </div>
            </div>

            <div class="row marginAuto no-padding mt-3" >
              <button
                class="btn btn-primary-color save-btn col-sm-12"
                [disabled]="!company.companyName"
                (click)="Next()"
              >
                Next
              </button>
            </div>
            <!-- </form> -->
          </div>
        </div>
      </div>
    </mat-card>
  </div>
</div>
