<ul id="chat">
  <div class="noReply">{{title}}</div>
  <div *ngFor="let NrMessage of messagesArray; let j = index">
      <li
        class=""
        [ngClass]="{
          you: NrMessage.type == 'user',
          me: NrMessage.type == 'dnnae'
        }"
      >
        <div
          class=""
          [ngClass]="{
            entityYou: NrMessage.type == 'user',
            entityMe: NrMessage.type == 'dnnae'
          }"
        >
          <span
            class="status"
            [ngClass]="{
              green: NrMessage.type == 'user',
              blue: NrMessage.type == 'dnnae'
            }"
          ></span>
          <h2>{{ NrMessage.type == 'user' ? prospectData.name : 'dnnae' }}</h2>
          <h3>10:12AM, Today</h3>
          <i
            class="material-icons customAlign"
            *ngIf="NrMessage.type == 'dnnae' && NrMessage.disabled == true"
            (click)="edit(NrMessage, j)"
          >
            edit
          </i>
          <i
            class="material-icons customAlign"
            *ngIf="NrMessage.type == 'dnnae' && NrMessage.disabled == false"
            (click)="edit(NrMessage, j)"
          >
            check
          </i>
        </div>
        <div class="triangle"></div>
        <textarea
          class="message"
          [ngClass]="{
            messageNonEdit: NrMessage.disabled == true,
            messageEdit: NrMessage.disabled == false
          }"
          [(ngModel)]="NrMessage.message"
          [disabled]="NrMessage.disabled"
          >
      </textarea
        >
      </li>
    </div>
</ul>