<!-- Created by Affan Akhter -->
<!-- <div class="loading-shade" *ngIf="isLoadingResults">
    <div class="spinner-container">
      <mat-spinner></mat-spinner>
    </div>
</div> -->
<div class="profile">
  <div class="inner-container">
    <mat-card>
      <div class="row center-align">
        <div class="col-md-12 align-center">
          <img
            class="rounded-circle img-thumbnail pic"
            src="{{ userData.imageURL || globals.defaultImage}}"
            alt="{{ userData.imageURL }} name"
          />
          <!-- <div>DNNae</div> -->
          <!-- <div>Please select one of the options below</div> -->
        </div>
        <div class="col-sm-12 infoWrapper">
            <div class=" row">
              <div class="col-sm-6 align-right">Full Name:</div>
              <div class="col-sm-6">{{ userData.name }}</div>
            </div>
            <div class=" row">
              <div class="col-sm-6 align-right">Email Address:</div>
              <div class="col-sm-6">{{ userData.emailAddress }}</div>
            </div>
          </div>
      </div>
    </mat-card>
  </div>
</div>
