@import '../../../../assets/styles/base.scss';
mat-card {
    padding: 40px;
    // width: 50%;
}
.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 100%;
}
.pic{
    width: 160px;
}
.center-align{
    width: 100%;
    margin: auto;
}
.profile .inner-container {
    width: 50%;
}

// label {
//     color: #9F9E9F;
// }
.infoWrapper{
    margin-top: 40px;
}

.form-container {
    display: block;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}

@media (max-width: $breakpoint-medium) {
    .profile .inner-container {
        width: 100%;
    }
}