<div class="loading-shade" *ngIf="isLoadingResults">
  <div class="spinner-container">
    <mat-spinner></mat-spinner>
  </div>
</div>
<mat-card class="matBox-custom container">
  <div class="row MorePadding">
    <div class="col-md-12 centered">
      <img class="logo" src="{{ globals.dnNaeLogo }}" alt="DNNae Logo" />
      <div class="sub-title">
        We have sent a verification email to <b>{{ userData.emailAddress }}</b> via email.Please
        enter the verification code
      </div>
      <div class="row plr-10">
        <form #form="ngForm" class="col-md-12">
          <!-- form fields -->
          <div class="row">
            <!-- Email Address -->

            <div class="form-group col-md-12">
              <!-- <label for="emailAddress">Email Address</label> -->
              <input
                autocomplete="off"
                required
                type="number"
                class="form-control"
                [ngClass]="{ 'error-border': verify.touched && verify.invalid }"
                #verify="ngModel"
                name="verify"
                [(ngModel)]="model.verify"
                placeholder="Enter verification code"
              />
              <!-- errors -->
              <div
                class="form-control-feedback globar-error-text left align-left"
                *ngIf="verify.touched && verify.invalid"
              >
                {{
                  verify.errors.required
                    ? 'verification code is required.'
                    : email.errors.pattern
                    ? 'verification code  is invalid'
                    : ''
                }}
              </div>
            </div>

            <div class="col-md-12 no-padding mt-3">
              <button
                class="btn btn-primary-color save-btn"
                [disabled]="form.invalid"
                (click)="submit()"
              >
                Verify
              </button>
            </div>
            <div class="form-group col-md-12 loginOuter">
              Haven't received yet?
              <a (click)="resend()" class="loginAnchor">Resend</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</mat-card>
