<!-- Created by Affan Akhter -->
<div class="loading-shade" *ngIf="isLoadingResults">
  <div class="spinner-container">
    <mat-spinner></mat-spinner>
  </div>
</div>
<div class="newJob newJD">
  <app-job-stepper [stepperInput]="stepperData" [populate]="populateStepper"></app-job-stepper>
  <div class="inner-container">
    <mat-card>
      <div class="row center-align">
        <div class="col-md-12 title">
          <img class="logo" src="{{ globals.dnNaeLogo }}" alt="DNNae Logo" />
          <!-- <div>DNNae</div> -->
          <div class="sub-title">Job Title</div>
          <!-- <div class="sub-title" *ngIf="changeScreen">Rank title: Use slider</div> -->
        </div>

        <div class="row page-full-width noMargin">
          <form #form="ngForm" class="col-md-12">
            <!-- form fields -->
            <!--first question title -->
            <div class="row">
              <div class="form-group col-sm-11">
                <!-- <label for="title"> write job description here.</label> -->
                <textarea
                  autocomplete="off"
                  autofocus
                  required
                  type="text"
                  class="form-control jobTitle"
                  [disabled]="jobTitle?.disable"
                  [ngClass]="{ 'error-border': title.touched && title.invalid }"
                  #title="ngModel"
                  name="title"
                  [(ngModel)]="(jobTitle?.data)[0]"
                  placeholder="Example: Software Engineer, Marketing Manager"
                >
                </textarea>
                <!-- errors -->
                <div
                  class="form-control-feedback globar-error-text"
                  *ngIf="title.touched && title.invalid"
                >
                  {{ title.errors.required ? 'Please provide job title.' : '' }}
                </div>
              </div>
              <!-- actions  -->
              <div class="issues-action col-sm-1" *ngIf="false">
                <button
                  class="btn btn-light has-icon"
                  *ngIf="jobTitle?.disable"
                  (click)="editFieldsEnable()"
                >
                  <i class="icon ion-md-create"></i>
                </button>

                <button
                  class="btn btn-primary-color has-icon"
                  *ngIf="!jobTitle?.disable"
                  [disabled]="!jobTitle"
                  (click)="editFieldsEnable()"
                >
                  <i class="icon ion-md-checkmark"></i>
                </button>
              </div>
            </div>
            <!-- <div class="sliderOuter row" *ngIf="changeScreen">
              <mat-slider
                class="scoreSlider col-sm-9"
                id="scoreSlider"
                thumbLabel
                tickInterval="auto"
                min="0"
                max="5"
                value={{jobTitle.importance}}
                (input)="score($event)"
              >
              </mat-slider>
              <span class="col-sm-3 scoreText">{{ jobTitle.scoreText }}</span>
            </div> -->

            <div class="marginAuto no-padding mt-3">
              <button
                class="btn btn-primary-color save-btn"
                [disabled]="form.invalid"
                (click)="Next()"
              >
                Next
              </button>
            </div>
          </form>
        </div>
      </div>
    </mat-card>
  </div>
</div>
