@import '../../../../../assets/styles/base.scss';
@import '../../../../../assets/styles/font-face.scss';
.newJD {
  align-items: inherit !important;
  .title {
    font-size: 24px;
    font-weight: bold;
  }
  .sub-title {
    margin: 15px 0 15px 0;
  }
  .mat-card {
    background: #fff;
    padding: 20px !important;
    // color: rgba(0,0,0,.87) !important;
  }
  .noMargin {
    margin: 0;
  }
  .marginAuto {
    margin: auto;
  }
  textarea.form-control {
    height: 45px !important;
  }
  .save-btn {
    width: 100%;
    border-radius: 10px;
  }
  .tAndc,
  .loginAnchor {
    color: $primary-color !important;
  }
  .loginOuter {
    margin-top: 20px;
    text-align: center;
  }
  .matBox-custom {
    //   max-width: 30rem;
    width: 50%;
  }
  .sliderOuter {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 80%;
    margin-left: 5px;
  }
  .scoreSlider {
    width: 80%;
    float: left;
  }
  .scoreText {
    color: #0b92f3;
    /* font-weight: 600; */
    font-size: 16px;
  }
  .jobTitle {
    text-transform: capitalize;
  }
}
mat-slider {
  width: 400px;
}
@media (max-width: $breakpoint-medium) {
  .matBox-custom {
    width: 100%;
  }
}
