<!-- Created by Affan Akhter -->
<div class="loading-shade" *ngIf="isLoadingResults">
  <div class="spinner-container">
    <mat-spinner></mat-spinner>
  </div>
</div>
<div class="messages">
  <div class="inner-container">
    <mat-card>
      <div class="row center-align">
        <div class="col-md-12 title">
          <img class="logo" src="{{ globals.dnNaeLogo }}" alt="DNNae Logo" />
          <!-- <div>DNNae</div> -->
          <div class="subTitle">Messages Templates</div>
        </div>
        <div class="chatTemplateOuter">
          <main>
            <header>
              <!-- <img
                src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1940306/chat_avatar_01.jpg"
                alt=""
              /> -->
              <img
                src="{{ prospect.image || globals.defaultImage  }}"
                alt="{{ prospect.name }} picture"
                class="img-thumbnail"
              />
              <div>
                <h2>Chat with {{ prospect.name }}</h2>
                <h3>{{ prospect.connectionType }}</h3>
                <h3>{{ prospect.score }}</h3>
              </div>
              <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1940306/ico_star.png" alt="" />
            </header>
            <!-- <div class="hr-line"></div> -->
            <!-- <ul id="chat">
              <div *ngFor="let message of prospect.messagesThread; let i = index">
                <li
                  class=""
                  [ngClass]="{
                    you: message.type == 'user',
                    me: message.type == 'dnnae'
                  }"
                >
                  <div
                    class=""
                    [ngClass]="{
                      entityYou: message.type == 'user',
                      entityMe: message.type == 'dnnae'
                    }"
                  >
                    <span
                      class="status"
                      [ngClass]="{
                        green: message.type == 'user',
                        blue: message.type == 'dnnae'
                      }"
                    ></span>
                    <h2>{{ message.type == 'user' ? prospect.name : 'dnnae' }}</h2>
                    <h3>10:12AM, Today</h3>
                    <i
                      class="material-icons customAlign"
                      *ngIf="message.type == 'dnnae' && message.disabled == true"
                      (click)="edit(message, i)"
                    >
                      edit
                    </i>
                    <i
                      class="material-icons customAlign"
                      *ngIf="message.type == 'dnnae' && message.disabled == false"
                      (click)="edit(message, i)"
                    >
                      check
                    </i>
                  </div>
                  <div class="triangle"></div>
                  <textarea
                    class="message"
                    [ngClass]="{
                      messageNonEdit: message.disabled == true,
                      messageEdit: message.disabled == false
                    }"
                    [(ngModel)]="message.message"
                    [disabled]="message.disabled"
                    >
                </textarea
                  >
                </li>
              </div>
              <div class="noReply">No response within 24 hours </div>
              <div *ngFor="let NrMessage of prospect.NoReplyThread; let j = index">
                  <li
                    class=""
                    [ngClass]="{
                      you: NrMessage.type == 'user',
                      me: NrMessage.type == 'dnnae'
                    }"
                  >
                    <div
                      class=""
                      [ngClass]="{
                        entityYou: NrMessage.type == 'user',
                        entityMe: NrMessage.type == 'dnnae'
                      }"
                    >
                      <span
                        class="status"
                        [ngClass]="{
                          green: NrMessage.type == 'user',
                          blue: NrMessage.type == 'dnnae'
                        }"
                      ></span>
                      <h2>{{ NrMessage.type == 'user' ? prospect.name : 'dnnae' }}</h2>
                      <h3>10:12AM, Today</h3>
                      <i
                        class="material-icons customAlign"
                        *ngIf="NrMessage.type == 'dnnae' && NrMessage.disabled == true"
                        (click)="editNR(NrMessage, j)"
                      >
                        edit
                      </i>
                      <i
                        class="material-icons customAlign"
                        *ngIf="NrMessage.type == 'dnnae' && NrMessage.disabled == false"
                        (click)="editNR(NrMessage, j)"
                      >
                        check
                      </i>
                    </div>
                    <div class="triangle"></div>
                    <textarea
                      class="message"
                      [ngClass]="{
                        messageNonEdit: NrMessage.disabled == true,
                        messageEdit: NrMessage.disabled == false
                      }"
                      [(ngModel)]="NrMessage.message"
                      [disabled]="NrMessage.disabled"
                      >
                  </textarea
                    >
                  </li>
                </div>
            </ul> -->
            <app-chat-template
              [messagesArray]="arrayToUse"
              [prospectData]="prospectBasicData"
              [title]="titleToSend"
            >
            </app-chat-template>
          </main>
          <div class="col-md-10 margin-auto">
            <button class="btn btn-primary-color next-btn" (click)="save()">
              Save & Continue
            </button>
          </div>
        </div>
      </div>
    </mat-card>
  </div>
</div>
