@import '../../../../assets/styles/base.scss';
@import '../../../../assets/styles/variables.scss';

main {
  // width:490px;
  // height:800px;
  // display:inline-block;
  font-size: 15px;
  vertical-align: top;
}
.status {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 7px;
}
.green {
  background-color: $default-green;
}
.blue {
  background-color: $default-blue;
  margin-right: 0;
  margin-left: 7px;
}

main header {
  height: 110px;
  padding: 30px 20px 30px 40px;
}
main header > * {
  display: inline-block;
  vertical-align: top;
}
main header img:first-child {
  border-radius: 50%;
}
main header img:last-child {
  width: 24px;
  margin-top: 8px;
}
main header div {
  margin-left: 10px;
  margin-right: 145px;
}
main header h2 {
  font-size: 16px;
  margin-bottom: 5px;
}
main header h3 {
  font-size: 14px;
  font-weight: normal;
  color: #7e818a;
}

#chat {
  padding-left: 0;
  margin: 0;
  list-style-type: none;
  overflow-y: scroll;
  height: 535px;
  border-top: 2px solid $white;
  border-bottom: 2px solid $white;
}
#chat li {
  padding: 10px 30px;
}
#chat h2,
#chat h3 {
  display: inline-block;
  font-size: 13px;
  font-weight: normal;
  margin-right: 10px;
}
#chat h3 {
  color: $teritary-color;
}
#chat .entityYou {
  margin-bottom: 5px;
}
#chat .entityMe {
  margin-bottom: 5px;
  display: flex;
  flex-direction: row-reverse;
  align-items: baseline;
}
#chat .message {
  padding: 20px;
  color: $white;
  width: 100%;
  line-height: 25px;
  max-width: 90%;
  display: inline-block;
  text-align: left;
  border-radius: 5px;
}
#chat textarea:disabled {
  color: $white;
}
#chat .me {
  text-align: right;
}
#chat .you .message {
  background-color: $default-green;
  border: 1px solid $default-green;
}
#chat .me .messageNonEdit {
  background-color: $default-blue;
  border: 1px solid $default-blue;
}
#chat .me .messageEdit {
  background-color: $white;
  border: 1px solid $default-blue;
  color: $primary-color;
}
#chat .triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 10px 10px 10px;
}
#chat .you .triangle {
  border-color: transparent transparent $default-green transparent;
  margin-left: 15px;
}
#chat .me .triangle {
  border-color: transparent transparent $default-blue transparent;
  // margin-left:375px;
  margin-left: 93%;
}

//
.img-thumbnail {
  width: 65px;
}
.chatTemplateOuter {
  width: 100%;
}
.customAlign {
  font-size: 18px;
  padding-right: 5px;
  position: relative;
  top: 5px;
  cursor: pointer;
}
.next-btn {
  width: 100%;
  border-radius: 10px;
}
.noReply {
  font-size: 16px;
  font-style: italic;
  text-align: center;
  padding: 15px;
  margin: 15px;
  border-top: 1px solid $btn-border-color;
  border-bottom: 1px solid $btn-border-color;
}