@import '../../../../assets/styles/base.scss';
@import '../../../../assets/styles/variables.scss';
mat-card {
  padding: 10px;
  // width: 50%;
}
.jobList {
  display: flex;
  justify-content: center;
  // align-items: center;
  height: 80vh;
  width: 100%;
}

.scoreExp .mat-expansion-panel {
  color: $dnnae-color !important;
}
.scoreExp .mat-expansion-panel-header {
  font-size: 16px;
  font-weight: 400;
}
.scoreExp .mat-expansion-panel-body {
  padding: 0 !important ;
}
.subTitle {
  margin: 15px 0 15px 0;
}
a {
  color: $secondary-color;
}
.hr-line {
  margin: 10px 0 10px 0;
  border-bottom: 1px solid $btn-border-color;
}
.rightMargin {
  margin-right: 15px;
}
.jobTitle {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  /* font: normal 400 36px/1.4 Arial; */
  /* font-weight: 400; */
  color: $primary-color !important;
  text-transform: none;
  letter-spacing: 0px;
  cursor: pointer;
}
.details-button {
  height: 40px;
  cursor: pointer;
}
.alignCenter {
  align-items: center;
}
.logo {
  width: 90px;
}
.center-align {
  width: 100%;
  margin: auto;
}
.jobList .inner-container {
  width: 50%;
}
.prospectImage {
  width: 120px;
}
.scoreExp .progress{
  background-color:$progressBar-cylinder !important;
}
.name {
  display: flex;
  align-items: center;
}
.skillsListing {
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: pre-line;
  overflow: auto;
}
.degree {
  font-size: 14px;
  font-weight: 500;
  margin-left: 10px;
}
.locality {
  margin-top: 10px;
}
.buttonsOuter {
  justify-content: space-evenly;
  margin: 15px 0 15px 0;
}
.prospectFor {
  font-weight: 600;
}
.scoreOuter {
  color: $dnnae-color !important;
}
mat-card .title {
  // font-family: "ubuntuBold";
  font-size: 24px;
  text-align: center;
}
.sortByLabel {
  margin-right: 10px;
}
// dropdown things
.dd-parent {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 10px 0 20px 0;
  border-bottom: 1px solid $btn-border-color;
  padding-bottom: 20px;
}
.dd-parent .dropdown-menu.show {
  margin-top: 5px !important;
  padding: 0 !important;
  min-width: 100px !important;
  left: -105px !important;
  position: relative;
  max-height: 350px;
}

.dd-parent .dropdown-item {
  padding: 0.25rem 1rem !important;
}

.dd-parent .btn,
.status-dd-parent .btn,
.dd-parent .btn,
.status-dd-parent .btn :active,
.dd-parent .btn,
.status-dd-parent .btn :focus,
.dd-parent .btn,
.status-dd-parent .btn :hover {
  box-shadow: none !important;
  outline: none;
  border-color: $btn-border-color;
  font-size: 14px;
  border-radius: 0.6rem;
  // background-color: white;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-right: 20px;
  float: right;
  min-width: 115px;
}

.dropdown-toggle::after {
  margin-right: 5px !important;
}
.scoreLabel {
  cursor: default;
  margin-bottom: 5px;
  font-weight: 600;
}
.scoreLabelCard {
  margin: 5px 0 5px 0;
  // font-weight: 600;
}
.infoCenter {
  display: flex;
  justify-content: center;
  // align-items: center;
  padding-top: 15px;
  height: 60px;
}
.scoreDes_label {
  font-size: 15px;
  font-weight: 600; 
}
li {
  list-style-type: none;
  padding-left: 10px;
}
@media (max-width: $breakpoint-medium) {
  .jobList .inner-container {
    width: 100%;
  }
}
