<!-- Created by Affan Akhter -->
<div class="loading-shade" *ngIf="isLoadingResults">
  <div class="spinner-container">
    <mat-spinner></mat-spinner>
  </div>
</div>
<div class="jobList">
  <div class="inner-container">
    <mat-card>
      <div class="row center-align">
        <div class="col-md-12 title">
          <img class="logo" src="{{ globals.dnNaeLogo }}" alt="DNNae Logo" />
          <!-- <div>DNNae</div> -->
          <!-- <div class="subTitle">Prospects List</div> -->
          <div class="subTitle" *ngIf="prospects && prospects?.length > 0">{{ pageTitle }}</div>
        </div>
        <div class=" dd-parent" ngbDropdown *ngIf="prospects && prospects?.length > 0">
          <div for="" class="sortByLabel">Sort by</div>
          <button class="btn mr-2" id="vt-dropdown" ngbDropdownToggle>
            {{ statusFilterText?.name }}
          </button>
          <div ngbDropdownMenu aria-labelledby="vt-dropdown">
            <button class="dropdown-item" (click)="changeType(1)">Score</button>
            <button class="dropdown-item" (click)="changeType(2)">Date</button>
          </div>
        </div>
        <div *ngIf="prospects && prospects?.length > 0">
          <div
            class="search-results"
            infinite-scroll
            [infiniteScrollDistance]="scrollDistance"
            [infiniteScrollThrottle]="throttle"
            (scrolled)="onScrollDown()"
          >
            <div class="col-sm-12" *ngFor="let prospect of prospects; let i = index">
              <div *ngIf="prospect?.score?.final_score > 0">
                <div class="row">
                  <div class="col-sm-2">
                    <img
                      src="{{ prospect.picture || globals.defaultImage }}"
                      class="rounded-circle img-thumbnail"
                      alt="{{ prospect.full_name }} picture"
                    />
                  </div>
                  <div class="col-sm-10">
                    <h3 (click)="goto(prospect)" class="jobTitle name">
                      {{ prospect.full_name }}
                      <sup class="degree"> {{ prospect?.connection_degree || '' }}</sup>
                    </h3>
                    <div class="alignCenter">
                      <div class="skillsListing">{{ prospect.headline }}</div>
                      <div class="locality">{{ prospect.locality }}</div>
                      <div>
                        <span class="prospectFor">prospect for: </span>
                        {{ prospect?.job?.jobTitle }}
                      </div>
                      <div class="scoreOuter">
                        <span *ngIf="!prospect.score">
                          <span class="prospectFor">Score: </span>
                          {{ (prospect?.score?.final_score | number: '1.2-2') || 0 }} / 50
                        </span>
                        <div class="row">
                          <mat-accordion
                            class="width-100perc scoreExp col-sm-11"
                            *ngIf="prospect.score"
                            id="score"
                          >
                            <!--------------------------------------------------------User breakDown Details------------------------------------------------------------- -->
                            <mat-expansion-panel id="userScore">
                              <!-- header panel -->
                              <mat-expansion-panel-header class="panel-parent">
                                <span class="panel-title">
                                  <span class="prospectFor">Score: </span>
                                  {{ (prospect?.score?.final_score | number: '1.2-2') || 0 }} / 50
                                </span>
                              </mat-expansion-panel-header>

                              <!-- <div *ngFor="let item of prospect.score | keyvalue"> -->

                              <!-- Education -->
                              <div *ngIf="prospect?.score?.education_total > 0">
                                <div class="row">
                                  <div class="col-sm-12 scoreLabel">
                                    Education:
                                    <span>
                                      (
                                      {{
                                        (prospect?.score?.education_score | number: '1.2-2') || 0
                                      }}
                                      /
                                      {{ prospect?.score?.education_total || 0 }} )
                                    </span>
                                  </div>
                                  <div class="col-sm-12">
                                    <div class="progress">
                                      <div
                                        class="progress-bar"
                                        [style.width.%]="
                                          calcPercentage(
                                            prospect.score.education_score,
                                            prospect.score.education_total
                                          )
                                        "
                                      >
                                        {{
                                          (prospect.score.education_score /
                                            (prospect.score.education_total || 0.1)) *
                                            100 | number: '1.2-2'
                                        }}
                                        %
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="hr-line"></div>
                              </div>
                              <!-- Experience -->
                              <div *ngIf="prospect?.score?.experience_total > 0">
                                <div class="row">
                                  <div class="col-sm-12 scoreLabel">
                                    Experience:
                                    <span>
                                      (
                                      {{
                                        (prospect?.score?.experience_score | number: '1.2-2') || 0
                                      }}
                                      /
                                      {{ prospect?.score?.experience_total || 0 }} )
                                    </span>
                                  </div>
                                  <div class="col-sm-12">
                                    <div class="progress">
                                      <div
                                        class="progress-bar"
                                        [style.width.%]="
                                          calcPercentage(
                                            prospect.score.experience_score,
                                            prospect.score.experience_total
                                          )
                                        "
                                      >
                                        {{
                                          (prospect.score.experience_score /
                                            (prospect.score.experience_total || 0.1)) *
                                            100 | number: '1.2-2'
                                        }}
                                        %
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="hr-line"></div>
                              </div>
                              <!-- Skills -->
                              <div *ngIf="prospect?.score?.skill_total > 0">
                                <div class="row">
                                  <div class="col-sm-12 scoreLabel">
                                    Skills:
                                    <span>
                                      ( {{ (prospect?.score?.skill_score | number: '1.2-2') || 0 }}
                                      /
                                      {{ prospect?.score?.skill_total || 0 }} )
                                    </span>
                                  </div>
                                  <div class="col-sm-12">
                                    <div class="progress">
                                      <div
                                        class="progress-bar"
                                        [style.width.%]="
                                          calcPercentage(
                                            prospect.score.skill_score,
                                            prospect.score.skill_total
                                          )
                                        "
                                      >
                                        {{
                                          (prospect.score.skill_score /
                                            (prospect.score.skill_total || 0.1)) *
                                            100 | number: '1.2-2'
                                        }}
                                        %
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="hr-line"></div>
                              </div>
                              <!-- Industry -->
                              <div *ngIf="prospect?.score?.industry_total > 0">
                                <div class="row">
                                  <div class="col-sm-12 scoreLabel">
                                    Industry:
                                    <span>
                                      (
                                      {{ (prospect?.score?.industry_score | number: '1.2-2') || 0 }}
                                      /
                                      {{ prospect?.score?.industry_total || 0 }} )
                                    </span>
                                  </div>
                                  <div class="col-sm-12">
                                    <div class="progress">
                                      <div
                                        class="progress-bar"
                                        [style.width.%]="
                                          calcPercentage(
                                            prospect.score.industry_score,
                                            prospect.score.industry_total
                                          )
                                        "
                                      >
                                        {{
                                          (prospect.score.industry_score /
                                            (prospect.score.industry_total || 0.1)) *
                                            100 | number: '1.2-2'
                                        }}
                                        %
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="hr-line"></div>
                              </div>

                              <!-- Score breakDown ends -->
                            </mat-expansion-panel>
                          </mat-accordion>
                          <i
                            class="material-icons col-md-1 infoCenter"
                            matTooltip="Score Details"
                            [matTooltipClass]="'customToolTip'"
                            [ngbPopover]="scorePopContent"
                            popoverTitle="Score Description"
                            container="body"
                            popoverClass="infoClass"
                          >
                            info
                          </i>
                          <ng-template #scorePopContent>
                            <!-- scores -->
                            <div class="row">
                              <div class="col-sm-12 scoreLabelCard">
                                <span class="panel-title">
                                  <span class="prospectFor">Total Score: </span>
                                  ( {{ (prospect?.score?.final_score | number: '1.2-2') || 0 }} / 50
                                  )
                                </span>
                              </div>
                              <div
                                class="col-sm-12 scoreLabelCard"
                                *ngIf="prospect?.score?.education_total > 0"
                              >
                                <span class="prospectFor">Education:</span>
                                <span>
                                  (
                                  {{ (prospect?.score?.education_score | number: '1.2-2') || 0 }}
                                  /
                                  {{ prospect?.score?.education_total || 0 }} )
                                </span>
                              </div>
                              <div
                                class="col-sm-12 scoreLabelCard"
                                *ngIf="prospect?.score?.experience_total > 0"
                              >
                                <span class="prospectFor">Experience:</span>
                                <span>
                                  (
                                  {{ (prospect?.score?.experience_score | number: '1.2-2') || 0 }}
                                  /
                                  {{ prospect?.score?.experience_total || 0 }} )
                                </span>
                              </div>
                              <div
                                class="col-sm-12 scoreLabelCard"
                                *ngIf="prospect?.score?.skill_total > 0"
                              >
                                <span class="prospectFor">Skills:</span>
                                <span>
                                  ( {{ (prospect?.score?.skill_score | number: '1.2-2') || 0 }}
                                  /
                                  {{ prospect?.score?.skill_total || 0 }} )
                                </span>
                              </div>
                              <div
                                class="col-sm-12 scoreLabelCard"
                                *ngIf="prospect?.score?.industry_total > 0"
                              >
                                <span class="prospectFor">Industry:</span>
                                <span>
                                  ( {{ (prospect?.score?.industry_score | number: '1.2-2') || 0 }}
                                  /
                                  {{ prospect?.score?.industry_total || 0 }} )
                                </span>
                              </div>
                              <div class="hr-line fullWidth"></div>
                            </div>
                            <!-- penalizing  percentages-->
                            <div class="row">
                              <div class="col-sm-12">
                                <span class="prospectFor">title match score boost:</span>
                                <span> {{ prospect?.score?.adjustment_factor }}% </span>
                              </div>
                              <div class="hr-line fullWidth"></div>
                            </div>
                            <!-- education Required -->
                            <div class="row">
                              <label class="col-sm-12 scoreDes_label">Education required: </label>
                              <ol class="col-sm-12">
                                <li *ngFor="let edu_req of prospect.score.education_required">
                                  <span *ngIf="edu_req">{{ edu_req }}.</span>
                                </li>
                                <li>
                                  <span
                                    *ngIf="
                                      !prospect?.score?.education_required ||
                                      prospect?.score?.education_required?.length == 0
                                    "
                                    >No requirements found in job description</span
                                  >
                                </li>
                              </ol>
                              <div class="hr-line fullWidth"></div>
                            </div>
                            <!-- Education Found -->
                            <div class="row">
                              <label class="col-sm-12 scoreDes_label">Education found: </label>
                              <ol class="col-sm-12">
                                <li *ngFor="let edu_found of prospect.score.education_profile">
                                  <span *ngIf="edu_found">{{ edu_found }}.</span>
                                </li>
                                <li>
                                  <span
                                    *ngIf="
                                      !prospect?.score?.education_profile ||
                                      prospect?.score?.education_profile?.length == 0
                                    "
                                    >No similar education found in the prospect's profile</span
                                  >
                                </li>
                              </ol>
                              <div class="hr-line fullWidth"></div>
                            </div>

                            <!-- Experience required-->
                            <div class="row">
                              <label class="col-sm-12 scoreDes_label">Experience required: </label>
                              <ol class="col-sm-12">
                                <li *ngFor="let exp_req of prospect.score.experience_required">
                                  <span *ngIf="exp_req">{{ exp_req }}.</span>
                                </li>
                                <li>
                                  <span
                                    *ngIf="
                                      !prospect?.score?.experience_required ||
                                      prospect?.score?.experience_required?.length == 0
                                    "
                                    >No experience found in job description</span
                                  >
                                </li>
                              </ol>
                              <div class="hr-line fullWidth"></div>
                            </div>
                            <!-- Experience found-->
                            <div class="row">
                              <label class="col-sm-12 scoreDes_label">Experience Found: </label>
                              <ol class="col-sm-12">
                                <li *ngFor="let exp_found of prospect.score.experience_found">
                                  <span *ngIf="exp_found">{{ exp_found }}.</span>
                                </li>
                                <li>
                                  <span
                                    *ngIf="
                                      !prospect.score.experience_found ||
                                      prospect?.score?.experience_found?.length == 0
                                    "
                                    >No closest experience found</span
                                  >
                                </li>
                              </ol>
                              <div class="hr-line fullWidth"></div>
                            </div>

                            <!-- industry experience required-->
                            <div class="row">
                              <label class="col-sm-12 scoreDes_label"
                                >Industry Experience required:
                              </label>
                              <ol class="col-sm-12">
                                <li *ngFor="let ind_req of prospect.score.industries_required">
                                  <span *ngIf="ind_req">{{ ind_req }}.</span>
                                </li>
                                <li>
                                  <span
                                    *ngIf="
                                      !prospect?.score?.industries_required ||
                                      prospect?.score?.industries_required?.length == 0
                                    "
                                    >No industry experience found in job description</span
                                  >
                                </li>
                              </ol>
                              <div class="hr-line fullWidth"></div>
                            </div>
                            <!-- industry experience found-->
                            <div class="row">
                              <label class="col-sm-12 scoreDes_label"
                                >Industry Experience Found:
                              </label>
                              <ol class="col-sm-12">
                                <li *ngFor="let ind_found of prospect.score.industries_profile">
                                  <span *ngIf="ind_found">{{ ind_found }}.</span>
                                </li>
                                <li>
                                  <span
                                    *ngIf="
                                      !prospect?.score?.industries_profile ||
                                      prospect?.score?.industries_profile?.length == 0
                                    "
                                    >No closest industry experience found</span
                                  >
                                </li>
                              </ol>
                              <div class="hr-line fullWidth"></div>
                            </div>
                            <!-- skills required -->
                            <div class="row">
                              <label class="col-sm-12 scoreDes_label">Skills Required: </label>
                              <ol class="col-sm-12">
                                <li *ngFor="let skills_req of prospect.score.skills_required">
                                  <span *ngIf="skills_req">{{ skills_req }}.</span>
                                </li>
                                <li>
                                  <span
                                    *ngIf="
                                      !prospect?.score?.skills_required ||
                                      prospect?.score?.skills_required?.length == 0
                                    "
                                    >No Skills found in job Description</span
                                  >
                                </li>
                              </ol>
                              <div class="hr-line fullWidth"></div>
                            </div>
                            <!-- skills found -->
                            <div class="row">
                              <label class="col-sm-12 scoreDes_label">Skills Found: </label>
                              <ol class="col-sm-12">
                                <li *ngFor="let skills_found of prospect.score.skills_profile">
                                  <span *ngIf="skills_found">{{ skills_found }}.</span>
                                </li>
                                <li>
                                  <span
                                    *ngIf="
                                      !prospect?.score?.skills_profile ||
                                      prospect?.score?.skills_profile?.length == 0
                                    "
                                    >No closest skills found</span
                                  >
                                </li>
                              </ol>
                              <div class="hr-line fullWidth"></div>
                            </div>
                          </ng-template>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row buttonsOuter">
                  <button class="btn btn-primary-color col-sm-4" disabled>Text</button>
                  <button class="btn btn-primary-color col-sm-4" (click)="goto(prospect)">
                    View Profile
                  </button>
                </div>
                <div class="hr-line"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="noneFound" *ngIf="prospects && prospects?.length <= 0">
          No prospects available
        </div>
      </div>

      <!-- <div class="timeline-item row">
          <div class="col-sm-12">
          <div class="animated-background facebook">
            <div class="row">
              <div class="col-sm-2">
                <div class="imagePlaceholder"></div>
              </div>
              <div class="col-sm-10">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
              </div>
            </div>
          </div>
        </div>
        </div> -->
    </mat-card>
  </div>
</div>
