<!-- <div class="loading-shade" *ngIf="isLoadingResults">
    <div class="spinner-container">
        <mat-spinner></mat-spinner>
    </div>
</div>
<app-header [logoURL]="{key:'name', value: ''}"></app-header>
<div class="job-report">
    <div class="jobs" *ngFor="let comapnyData of companiesData" (click)=goto(comapnyData);>
        <div class="report-img">
            <img src="{{comapnyData.logoURL}}" alt="company Icon">
        </div>
        <div class="report-text">
            <div class="report-count">{{comapnyData.companyName}}</div>
            <div class="report-label">{{comapnyData.companyField}}</div>
            <div class="report-label">{{comapnyData.location}}</div>
        </div>
    </div>
</div> -->
<div class="mainWrapper">
    <div class='footer'>
        <h3><font color = 'white'>Sign up for early access!</font></h3>
        <form [formGroup]="signUp" (ngSubmit)="onSubmit()">
        <input class = 'rectangle-text' type = 'email' formControlName="emailAddress"
         name = 'emailAddress'  [ngClass]="{ 'has-error': isSubmitted && formControls.emailAddress.errors }" >
        <input class = 'rectangle-button' type = 'submit' value = 'Sign Up'>
        <div *ngIf="isSubmitted && formControls.emailAddress.errors" class="help-block">
            <div *ngIf="formControls.emailAddress.errors.required">Email is required</div>
            <div *ngIf="formControls.emailAddress.errors.pattern">Invalid Email</div>
          </div>
        </form>
</div>

<div align = 'center'>	
    <picture>
      <source srcset={{globals.desktopGif}} media='(max-width: 414px)'>
      <source srcset={{globals.desktopGif}}>
      <img src={{globals.desktopGif}} style='width:100%; height:auto; z-index:-1'>
    </picture>
    
</div>
</div>