@import '../../../assets/styles/base.scss';

// .job-report {
//     display: flex;
//     flex-wrap: wrap;
//     margin: auto;
//     width: 89.2%;
// }
// .job-report .jobs {
//     background-color: #fff;
//     flex: 1 0 20%;
//     margin: 30px;
//     padding: 65px 25px 65px 25px;
//     border-radius: 10px;
//     align-items: center;
// }
// .job-report .jobs .report-img {
//     margin: auto;
//     text-align: center;
// }
// .job-report .jobs .report-text {
//     margin: auto;
//     text-align: center;
// }
// .job-report .jobs .report-img img {
//     width: 75px;
// }
// .report-count {
//     font-family: 'ubuntuMedium';
//     font-size: 24px;
// }
// .report-label {
//     color: #777777bd;
//     font-size: 16px;
//     margin-bottom: 3px;
// }
// body {
//     background-color : #3c9cfa;

// }
.mainWrapper {
    margin-top: -70px;
    background-color : #3c9cfa;
}

.rectangle-text {	
            height: 45px;	
            width: 500px;
            border-radius: 22.5px;
            border-width: 0;
            background-color: #FFFFFF; 
            font-size: 16px;
        }

        
.rectangle-button {	
            height: 47px;	
            width: 100px;	
            border-radius: 22.5px;
            border-width: 0;	
            background-color: #F2DE00;
            font-size: 18px;
            margin-left: -100px;
            vertical-align: top;
        }
.footer {
              position: absolute;
              right: 0;
              bottom: 20%;
              left: 0;
              padding: 1rem;
              
              text-align: center;
        }

@media only screen and (max-width: 419px) {

.rectangle-text {		
            width: 290px;
        }
        
.footer {
              bottom: 45%;
              
        }

}

@media only screen and (min-width: 420px) and (max-width: 600px) {

.rectangle-text {		
            width: 320px;
        }

}