<!-- Created by Affan Akhter -->
<div class="loading-shade" *ngIf="isLoadingResults">
  <div class="spinner-container">
    <mat-spinner></mat-spinner>
  </div>
</div>
<div class="newJob jobPreview">
  <app-job-stepper [stepperInput]="stepperData" [populate]="populateStepper"></app-job-stepper>
  <div class="inner-container">
    <mat-card>
      <div class="row center-align">
        <div class="col-md-12 title">
          <div class="backButton">
            <i
              class="material-icons"
              matTooltip="Back"
              [routerLink]="['/recruiter/technicalSkills', jobId, jdType]"
              queryParamsHandling="preserve"
            >
              arrow_back_ios
            </i>
            <!-- <span class="backText">Back</span> -->
          </div>
          <img class="logo" src="{{ globals.dnNaeLogo }}" alt="DNNae Logo" />
          <div class="sub-title">Additional Information</div>
          <!-- <div class="sub-title-guide">Rank the experience required for this role using the slider</div> -->

          <!-- <div>DNNae</div>
                <div>Your personal recruiter</div> -->
        </div>
        <div class="col-md-12 form-container">
          <!-- adding single textboxes for salary and job Location -->
          <div>
            <form #form="ngForm" class="col-md-12">
              <!-- Job Location fields -->
              <div class="row">
                <!-- job Location -->
                <div class="form-group width-100perc">
                  <label for="jobLocation" class="customLabel">Job Location</label>
                  <div class="inputAndButtonsWrapper">
                    <input
                      autocomplete="off"
                      autofocus
                      required
                      google-place
                      type="text"
                      class="form-control customRight"
                      [disabled]="model.jobLocation.disable"
                      [ngClass]="{ 'error-border': jobLocation.touched && jobLocation.invalid }"
                      #jobLocation="ngModel"
                      name="jobLocation"
                      [(ngModel)]="model.jobLocation.name"
                      placeholder="Example: Palo Alto"
                      (onSelect)="updateLocation($event)"
                    />
                    <!-- actions  -->
                    <div class="issues-action buttonsFlex-CreateJob" *ngIf="false"> 
                      <button
                        class="btn btn-light has-icon mr-10"
                        *ngIf="model.jobLocation.disable"
                        (click)="editSingleFieldsEnable($event, model, 2)"
                      >
                        <i class="icon ion-md-create"></i>
                      </button>

                      <button
                        class="btn btn-primary-color has-icon mr-10"
                        *ngIf="!model.jobLocation.disable"
                        [disabled]="!model.jobLocation.name"
                        (click)="editSingleFieldsEnable($event, model, 2)"
                      >
                        <i class="icon ion-md-checkmark"></i>
                      </button>
                    </div>
                  </div>
                  <!-- errors -->
                  <div
                    class="form-control-feedback globar-error-text customError"
                    *ngIf="jobLocation.touched && jobLocation.invalid"
                  >
                    {{ jobLocation.errors.required ? 'job Location is required.' : '' }}
                  </div>
                </div>
              </div>

              <!-- Salary fields -->
              <div class="row">
                <!-- Salary -->
                <div class="form-group width-100perc">
                  <label for="salary" class="customLabel">Salary</label>
                  <div class="inputAndButtonsWrapper">
                    <input
                      autocomplete="off"
                      type="text"
                      class="form-control customRight"
                      [disabled]="model.salary.disable"
                      [ngClass]="{ 'error-border': salary.touched && salary.invalid }"
                      #salary="ngModel"
                      name="salary"
                      [(ngModel)]="model.salary.name"
                      placeholder="Example: $10000 a month"
                    />
                    <!-- actions  -->
                    <div class="issues-action buttonsFlex-CreateJob" *ngIf="false">
                      <button
                        class="btn btn-light has-icon mr-10"
                        *ngIf="model.salary.disable"
                        (click)="editSingleFieldsEnable($event, model, 1)"
                      >
                        <i class="icon ion-md-create"></i>
                      </button>

                      <button
                        class="btn btn-primary-color has-icon mr-10"
                        *ngIf="!model.salary.disable"
                        [disabled]="!model.salary.name"
                        (click)="editSingleFieldsEnable($event, model, 1)"
                      >
                        <i class="icon ion-md-checkmark"></i>
                      </button>
                    </div>
                  </div>
                  <!-- errors -->
                  <div
                    class="form-control-feedback globar-error-text customError"
                    *ngIf="salary.touched && salary.invalid"
                  >
                    {{ salary.errors.required ? 'Salary is required.' : '' }}
                  </div>
                </div>
              </div>
            </form>
          </div>
          <mat-accordion
            class="width-100perc"
            id="skills"
            *ngFor="let userData of userJobDescription; let i = index"
          >
            <mat-expansion-panel id="userScore" *ngIf="userData.tag === 'SOFT_SKILLS'">
              <!-- header panel -->
              <mat-expansion-panel-header class="panel-parent">
                <span class="panel-title">{{ userData.title }}</span>
              </mat-expansion-panel-header>
              <div *ngFor="let item of userData.tempData; let j = index; let last = last">
                <div>
                  <!-- Block for non technical skills  -->
                  <div class="editReasonOuter" *ngIf="userData.tag === 'SOFT_SKILLS'">
                    <!-- <div>{{ item }}</div> -->
                    <div class="issues-input">
                      <div class="form-group">
                        <textarea
                          type="text"
                          class="form-control"
                          [disabled]="item.disable"
                          id="text"
                          name="text"
                          placeholder="{{ userData.placeHolder }}"
                          [(ngModel)]="item.data"
                          #text="ngModel"
                          required
                        >
                        </textarea>
                      </div>

                      <!-- errors -->
                      <div
                        class="form-control-feedback globar-error-text align-left"
                        *ngIf="text.touched && text.invalid"
                      >
                        <div *ngIf="text.errors.required">Please provide {{ userData.title }}</div>
                      </div>
                    </div>
                    <!-- actions  -->
                    <div class="issues-action buttonsFlex-CreateJob">
                      <span *ngIf="false">
                      <button
                        class="btn btn-light has-icon mr-10"
                        *ngIf="item.disable"
                        (click)="editFieldsEnable($event, userData, i, j)"
                      >
                        <i class="icon ion-md-create"></i>
                      </button>

                      <button
                        class="btn btn-primary-color has-icon mr-10 ml-10"
                        *ngIf="!item.disable"
                        [disabled]="!item.data"
                        (click)="editFieldsEnable($event, userData, i, j)"
                      >
                        <i class="icon ion-md-checkmark"></i>
                      </button>
                    </span>
                      <button
                        class="btn btn-light has-icon mr-10"
                        [disabled]="userData.tempData.length == 1"
                        (click)="delete($event, userData, i, j)"
                      >
                        <i class="icon ion-md-trash"></i>
                      </button>
                      <button
                        class="btn btn-primary-color has-icon"
                        *ngIf="last"
                        (click)="addNewReason($event, userData, i)"
                      >
                        <i class="icon ion-md-add"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
          <div class="row no-padding mt-3">
            <button
              class="col-md-12  btn btn-primary-color save-btn"
              [disabled]="form.invalid || !model.jobLocation.name"
              (click)="modifyData()"
            >
              Finish
            </button>
          </div>
        </div>
      </div>
    </mat-card>
  </div>
</div>
