<!-- Created by Affan Akhter -->
<div class="loading-shade" *ngIf="isLoadingResults">
  <div class="spinner-container">
    <mat-spinner></mat-spinner>
  </div>
</div>
<div class="defaultRequestMessage">
  <div class="inner-container">
    <mat-card>
      <div class="row center-align">
        <div class="col-md-12 title">
          <img class="logo" src="{{ globals.dnNaeLogo }}" alt="DNNae Logo" />
          <!-- <div>DNNae</div> -->
          <div class=" sub-title title">Gmail Integration</div>
        </div>
        <div class="row width-100">
          <form #form="ngForm" class="col-md-12">
            <!-- form fields -->
            <div class="row" *ngIf="!changeFelid">
              <!-- Email Address -->
              <div class="form-group col-md-12">
                <!-- <label for="emailAddress">Email Address</label> -->
                <input
                  autocomplete="off"
                  required
                  [pattern]="emailPattern"
                  type="text"
                  class="form-control"
                  [ngClass]="{ 'error-border': email.touched && email.invalid }"
                  #email="ngModel"
                  name="email"
                  [(ngModel)]="model.email"
                  placeholder="Enter Gmail ID"
                />
                <!-- errors -->
                <div
                  class="form-control-feedback globar-error-text align-left"
                  *ngIf="email.touched && email.invalid"
                >
                  {{
                    email.errors.required
                      ? 'Email is required.'
                      : email.errors.pattern
                      ? 'Email is invalid'
                      : ''
                  }}
                </div>
              </div>
              <div class="col-md-12 no-padding mt-3">
                <button
                  class="btn btn-primary-color save-btn"
                  [disabled]="form.invalid"
                  (click)="send()"
                >
                  Authorize
                </button>
              </div>
            </div>

            <!-- form feild for getting token -->
            <div class="row" *ngIf="changeFelid">
              <!-- Email Address -->

              <div class="form-group col-md-12">
                <!-- <label for="emailAddress">Email Address</label> -->

                <input
                  autocomplete="off"
                  required
                  type="text"
                  class="form-control"
                  [ngClass]="{ 'error-border': token.touched && token.invalid }"
                  #token="ngModel"
                  name="token"
                  [(ngModel)]="model.token"
                  placeholder="Enter token provided by Gmail"
                />

                <!-- errors -->
                <div
                  class="form-control-feedback globar-error-text align-left"
                  *ngIf="token.touched && token.invalid"
                >
                  {{
                    token.errors.required
                      ? 'Email is required.'
                      : token.errors.pattern
                      ? 'Email is invalid'
                      : ''
                  }}
                </div>
              </div>

              <div class="col-md-12 no-padding mt-3">
                <button
                  class="btn btn-primary-color save-btn"
                  [disabled]="form.invalid"
                  (click)="submit()"
                >
                  Submit
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </mat-card>
  </div>
</div>
