@import './../../../../assets/styles/variables.scss';
.ratingContainer{
    outline: none;
    display: flex !important;
    justify-content: center;
    align-items: center;
  }
  .ratingLabel{
    font-size: 24px;
    display: block;
    text-align: center; 
    padding-bottom: 1.5rem;
  }
  .buttonOuter{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 1.2rem;
  }
  .next-btn{
    padding: 10px 40px 10px 40px;
    border-radius: 10px;
  }
  .cancel-radio-button{
      display: block;
  }
  .cancelTextarea{
      height: 5rem !important;
  }
  .cancellationText{
    font-style: italic;
    font-size: 0.8rem;
    padding-top: 1rem;
    color: #acacac;
  }
  .cancelButton{
    background-color: $secondary-color;

  }
  .textReasons{
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
  }
  .sureText{
    text-align: center;
  }
