<!-- <div class="loading-shade" *ngIf="isLoadingResults">
    <div class="spinner-container">
      <mat-spinner></mat-spinner>
    </div>
  </div> -->
<div class="row">
  <div class="col-sm-12">
    <span class="ratingLabel">{{this.populateText.DialougHeaderText || 'Want to Proceed?'}}</span>
  </div>
  <div class="col-sm-12">
    <div class="sureText">{{this.populateText.DialougBodyText ||'Are you sure You want to Proceed?'}}</div>
    <div class="form-group col-md-12 no-padding buttonOuter">
      <button class="btn btn-primary-color next-btn" (click)="onNoClick(false)">{{this.populateText.ButtonCancelText || 'Cancel'}}</button>
      <button class="btn btn-primary-color next-btn" (click)="onNoClick(true)">{{this.populateText.ButtonSubmitText || 'Submit'}}</button>
    </div>
  </div>
</div>