@import './../../../../../assets/styles/base.scss';
@import './../../../../../assets/styles/variables.scss';
@media only screen and (max-width: 64em) {
  .navbar-right {
    margin-left: auto;
    margin-right: 40px;
  }
}
// Top right side bar dropdown of user profile
.userProfile-dropdown {
  border-radius: 15px;
  left: -70px !important;
}

// top ride side dropwon of user profile listing items
.dropdown-menu a.dropdown-item {
  padding: 0.65rem 0.5rem;
  font-size: 14px;
}

.dropdown-menu.dd-notifications {
  margin-top: 0px !important;
  padding: 0 0 !important;
  left: -228px !important;
  width: 295px;
  font-size: 14px;
  max-height: 350px;
  overflow-y: auto;
}

.dropdown-menu.dd-notifications a.dd-notification {
  padding: 0.3rem 1rem !important;
  width: 100%;
  display: inline-flex;
}

.dropdown-menu.dd-notifications a.dd-notification:hover {
  background-color: #fcf5f5;
}

.dropdown-menu.dd-notifications a.dd-notification.colored {
  background-color: #fcf5f5;
}

.dropdown-menu.dd-notifications a.dd-notification .dd-notification-text {
  width: 80%;
}

.dropdown-menu.dd-notifications a.dd-notification .image {
  width: 20%;
}

.dropdown-menu.dd-notifications a.dd-notification .image img {
  width: 45px;
  height: 45px;
  object-fit: cover;
  border-radius: 30px;
  border: 2px solid #eaf1fb;
}

// .dropdown-menu.dd-notifications a.dd-notification .text span {
//     font-family: $ff-bold;
// }

.dropdown-menu.dd-notifications a.dd-notification .time {
  font-size: 10px;
  color: #b1b0b1;
}
.iAmActive {
  border-bottom: 3px solid #153a79;
}
.myApp {
  margin-left: 0.8rem;
  // color: #c51802;
}
.navCustom {
  // box-shadow:-1px 0px 36px -8px rgb(254, 122, 48);
}
.btn-custom {
  border: none;
  color: $primary-color;
}
.account-name {
  text-transform: capitalize;
  padding: 10px;
}
.btn-custom:hover {
  background-color: transparent;
}
.navbar-expand-lg .navbar-collapse {
  justify-content: flex-end;
}
.main-header.section-wrapper,
.main-header .section {
  padding-top: 0px;
  padding-bottom: 0px;
}
.main-header {
  position: fixed;
  z-index: 100;
  top: 0;
  // overflow: hidden;
  height: 70px;
  background: #fff;
  color: #515357;
  left: 0px;
  right: 0px;
}
.section-wrapper {
  padding: 0px 30px;
}
.main-header .main-header-content {
  display: block;
  height: 100%;
  margin: 0px auto;
  color: #515357;
}
.narrow-section {
  max-width: 760px;
  padding-left: 0px;
  padding-right: 0px;
}
.navbar-brand {
  margin: 10.5px 0px;
  display: inline-block;
}
.logoCompany {
  height: 35px;
}
.inboxOuter {
  display: flex;
  // color: $dnnae-color;
  justify-content: center;
  align-items: center;
  align-content: center;
  // cursor: pointer;
  // pointer-events: none;
}
.dropdown-toggle::after {
  display: inline-block;
  margin-left: .255em;
  vertical-align: .255em;
  content: "";
  border-top: .3em solid;
  border-right: .3em solid transparent;
  border-bottom: 0;
  border-left: .3em solid transparent;
}