<div class="main-header page-full-width section-wrapper">
  <div class="main-header-content page-centered narrow-section">
    <nav class="no-padding  navbar navbar-expand-lg navbar-light navCustom container">
      <a class="navbar-brand" [routerLink]="['/founder/search']" queryParamsHandling="preserve">
        <img class="logo" src="{{ globals.dnNaeLogo }}" alt="DNNae Logo" />
        <span class="myApp">DNNae</span>
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent" *ngIf="hideTabs===true">
        <div class="inboxOuter">
          <i
            class="material-icons"
            matTooltip="Coming Soon"
            [matTooltipClass]="'customToolTip'"
            queryParamsHandling="preserve"
          >
            mail
          </i>
          <!-- <i
          class="material-icons"
          matTooltip="Inbox"
          [matTooltipClass]="'customToolTip'"
          [routerLink]="['/recruiter/inbox']"
          queryParamsHandling="preserve"
        >
          mail
        </i> -->
        </div>
        <div ngbDropdown class="d-inline-block">
          <button class="btn btn-outline-primary btn-custom" id="dropdownBasic1" ngbDropdownToggle>
            <a class="dropdown-item" (click)="logOut()">Logout</a>
          </button>
        </div>
      </div>
    </nav>
  </div>
</div>
