<div class="loading-shade" *ngIf="isLoadingResults">
  <div class="spinner-container">
    <mat-spinner></mat-spinner>
  </div>
</div>
<!-- <div class="container-fluid no-padding">
    <div class="sub-nav">
      <ul class="navbar-nav">
        <li class="nav-item displayRight">
          <a class="nav-link  btn-light-color btn-primary-color" [routerLink]="['/payment']">Add new Card</a>
        </li>
      </ul>
    </div>
  </div> -->

<mat-card *ngIf="flagAdvSearch==1 || flagAdvSearch ==0">
  <div class="table-container">
    <form #form="ngForm" class="" *ngIf="flagAdvSearch == 0">
      <div class="form-group searchOuter">
        <!-- <label for="emailAddress">Email Address</label> -->
        <div class="searchWrapper">
          <i class="material-icons search-icon">
            search
          </i>
          <input
            autocomplete="off"
            required
            type="text"
            class="form-control inputSearch"
            [ngClass]="{ 'error-border': search.touched && search.invalid }"
            #search="ngModel"
            name="search"
            [(ngModel)]="model.search"
            placeholder=" Enter your query"
          />
          <button
            type="submit"
            class="btn btn-primary-color save-btn"
            [disabled]="form.invalid"
            (click)="query()"
          >
            Search
          </button>
          
        </div>
        <!-- errors -->
        <div
          class="form-control-feedback globar-error-text align-left searchError"
          *ngIf="search.touched && search.invalid"
        >
          search query required.
        </div>
      </div>
      <!-- <div class=" col-sm-2 saveBtnWrapper">
        <button
          type="submit"
          class="btn btn-primary-color save-btn"
          [disabled]="form.invalid"
          (click)="tempQuery()"
        >
          Search
        </button>
      </div> -->
    </form>
    <div class="search-data-list col-10 offset-1 mt-2" *ngIf="flagAdvSearch == 1">
      <mat-form-field class="search-data-item">
        <mat-chip-list #typeList aria-label="Type of Investors">
          <mat-chip *ngFor="let cur_type of searchData.types" 
            [selectable]="selectable"
            [removable]="removable" 
            (removed)="removeType(cur_type)">
            {{ cur_type }}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
          <input placeholder="New Type..."
            #investorInput
            [matChipInputFor]="typeList"
            [formControl]="investorCtrl"
            [matAutocomplete]="auto_investor"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            [matChipInputAddOnBlur]="addOnBlur"
            (matChipInputTokenEnd)="addType($event)">
          <!-- <mat-icon class="text-danger">delete_sweep</mat-icon> -->
        </mat-chip-list>
        <mat-autocomplete #auto_investor="matAutocomplete" (optionSelected)="selectedInvestor($event)">
          <mat-option *ngFor="let cur_type of filteredInvestorType | async" [value]="cur_type">
            {{ cur_type }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field class="search-data-item">
        <mat-chip-list #titleList aria-label="Titles">
          <mat-chip *ngFor="let cur_title of searchData.titles" 
            [selectable]="selectable"
            [removable]="removable" 
            (removed)="removeType(cur_title)">
            {{ cur_title }}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
          <input placeholder="New Title..."
            #titleInput
            [matChipInputFor]="titleList"
            [formControl]="titleCtrl"
            [matAutocomplete]="auto"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            [matChipInputAddOnBlur]="addOnBlur"
            (matChipInputTokenEnd)="addTitle($event)">
        </mat-chip-list>
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectedTitle($event)">
          <mat-option *ngFor="let cur_title of filteredTitles | async" [value]="cur_title">
            {{ cur_title }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field class="search-data-item">
        <mat-chip-list #industryList aria-label="Industries">
          <mat-chip *ngFor="let cur_industry of searchData.industries" 
            [selectable]="selectable"
            [removable]="removable" 
            (removed)="removeIndustry(cur_industry)">
            {{ cur_industry }}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
          <input placeholder="New Industry..."
            #industryInput
            [matChipInputFor]="industryList"
            [formControl]="industryCtrl"
            [matAutocomplete]="auto_1"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            [matChipInputAddOnBlur]="addOnBlur"
            (matChipInputTokenEnd)="addIndustry($event)">
        </mat-chip-list>
        <mat-autocomplete #auto_1="matAutocomplete" (optionSelected)="selectedIndustry($event)">
          <mat-option *ngFor="let cur_industry of filteredIndustries | async" [value]="cur_industry">
            {{ cur_industry }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field class="search-data-item">
        <mat-chip-list #stageList aria-label="Stages">
          <mat-chip *ngFor="let cur_stage of searchData.stages" 
            [selectable]="selectable"
            [removable]="removable" 
            (removed)="removeStage(cur_stage)">
            {{ cur_stage }}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
          <input placeholder="New Stage..."
            #stageInput
            [matChipInputFor]="stageList"
            [formControl]="stageCtrl"
            [matAutocomplete]="auto_stage"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            [matChipInputAddOnBlur]="addOnBlur"
            (matChipInputTokenEnd)="addStage($event)">
        </mat-chip-list>
        <mat-autocomplete #auto_stage="matAutocomplete" (optionSelected)="selectedStage($event)">
          <mat-option *ngFor="let cur_stage of filteredInvestStage | async" [value]="cur_stage">
            {{ cur_stage }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field class="search-data-item">
        <mat-chip-list #locationList aria-label="locations">
          <mat-chip *ngFor="let cur_location of searchData.locations" 
            [selectable]="selectable"
            [removable]="removable" 
            (removed)="removeLocation(cur_location)">
            {{ cur_location }}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
          <input placeholder="New Location..."
            [matChipInputFor]="locationList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            [matChipInputAddOnBlur]="addOnBlur"
            (matChipInputTokenEnd)="addLocation($event)">
        </mat-chip-list>
      </mat-form-field>

      <mat-form-field class="search-data-item">
        <mat-chip-list #avoidList aria-label="Avoid List">
          <mat-chip *ngFor="let cur_avoid of searchData.avoids" 
            [selectable]="selectable"
            [removable]="removable" 
            (removed)="removeAvoid(cur_avoid)">
            {{ cur_avoid }}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
          <input placeholder="New Avoid..."
            [matChipInputFor]="avoidList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            [matChipInputAddOnBlur]="addOnBlur"
            (matChipInputTokenEnd)="addAvoid($event)">
        </mat-chip-list>
      </mat-form-field>
      <button
        class="btn btn-primary-color"
        (click)="saveCampaign()"
      >
        Save Campaign
      </button>
    </div>
  </div>
  
</mat-card>
<div class="search-result row m-2" *ngIf="flagAdvSearch == 2">
  <div class="col-12">
    <h4 class="text-center my-2">{{ model.search }}</h4>
    <div class="row my-1">
      <div class="col-sm-6 text-right">
        <mat-chip-list class="float-right">
          <mat-chip *ngFor="let cur_title of searchData.titles">
            {{ cur_title }}
          </mat-chip>
        </mat-chip-list>
        <span class="font-weight-bold float-right">Titles:</span>
      </div>
      <div class="col-sm-6">
        <span class="font-weight-bold float-left">Industries</span>
        <mat-chip-list>
          <mat-chip *ngFor="let industry of searchData.industries">
            {{ industry }}
          </mat-chip>
        </mat-chip-list>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <app-table-test [tableData]="companyData" [displayedColumns]="columnsCompany"></app-table-test>
      </div>
    </div>
  </div>
</div>
