@import '../../../../assets/styles/base.scss';
@import '../../../../assets/styles/variables.scss';
mat-card {
  width: 89.5%;
  height: calc(100vh - 70px);
}

.sub-nav {
  padding: 0 5.5%;
}

.sub-nav ul.navbar-nav li.nav-item a.nav-link {
  padding: 10px 15px;
  font-size: 14px;
  margin-right: 0.5rem;
}
.search-icon {
  position: relative;
  top: 10px;
  left: 30px;
}
.inputSearch {
  padding-left: 30px;
  border-radius: 40px;
  padding-right: 80px;
}
.searchWrapper {
  display: flex;
}
.saveBtnWrapper {
  display: flex;
  align-items: center;
  padding-top: 18px;
}
.save-btn {
  position: relative;
  left: -75px;
  border-bottom-right-radius: 40px;
  border-top-right-radius: 40px;
  /* height: 100%; */
  border: 1px solid $dnnae-color;
}
.searchError {
  padding-left: 40px;
  padding-top: 5px;
}
.searchOuter {
  margin: auto;
  width: 70%;
}

//////////////////////////////////////////////////////////////////////////////////////////////////

mat-card {
  width: 89.5%;
}

.sub-nav {
  padding: 0 5.5%;
}

.sub-nav ul.navbar-nav li.nav-item a.nav-link {
  padding: 10px 15px;
  font-size: 14px;
  margin-right: 0.5rem;
}

///////////////////////////////////////////////////////////////// Search filters month and dates //////////////////////////////////////////////////////////////

.driver-search {
  display: flex;
  flex-direction: row-reverse;
}

.status-dd-parent .dropdown-menu.show {
  margin-top: 5px !important;
  left: 0 !important;
  padding: 0 !important;
  max-height: 350px;
  overflow-y: scroll;
}

.vt-dd-parent .dropdown-menu.show {
  margin-top: 5px !important;
  padding: 0 !important;
  min-width: 100px !important;
  left: 0px !important;
  max-height: 350px;
  overflow-y: scroll;
}

.status-dd-parent .dropdown-item,
.vt-dd-parent .dropdown-item {
  padding: 0.25rem 1rem !important;
}

.vt-dd-parent .btn,
.status-dd-parent .btn,
.vt-dd-parent .btn,
.status-dd-parent .btn :active,
.vt-dd-parent .btn,
.status-dd-parent .btn :focus,
.vt-dd-parent .btn,
.status-dd-parent .btn :hover {
  box-shadow: none !important;
  outline: none;
  border-color: #dddddd;
  font-size: 14px;
  border-radius: 0.6rem;
  background-color: white;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-right: 20px;
}

.dropdown-toggle::after {
  margin-right: 5px !important;
}
.tableWrapper {
  overflow: auto;
  max-height: 100vh;
}

///////////////////////////////////////////////////////////////// Search filters month and dates ends //////////////////////////////////////////////////////////////

///////////////////////////////////////////////////////////////// search input ////////////////////////////////////////////////////

.search-input {
  width: 100%;
}

///////////////////////////////////////////////////////////////// search input ////////////////////////////////////////////////////

.toolbar {
  justify-content: center;
  background: $white;
}
.search-result {
  overflow-y: auto;
}
.table-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
// .mat-cell:nth-child(4),
// .mat-header-cell:nth-child(4),
// {
// // flex: 0 0 5%;
// width: 20%;
// }
// .mat-cell:nth-child(5),
// .mat-header-cell:nth-child(5),
// {
// // flex: 0 0 10%;
// width: 20%;
// }
.displayRight {
  float: right;
  margin-left: auto;
}
.defaultIcon {
  font-size: 1.5rem;
  color: $primary-color;
}
.search-data-list {
  .search-data-item {
    width: 100%;
  }
}
mat-icon {
  cursor: pointer;
}
