<div class="loading-shade" *ngIf="isLoadingResults">
  <div class="spinner-container">
      <mat-spinner></mat-spinner>
  </div>
</div>
<app-header *ngIf="singleJobData" [logoURL]="{key:'name', value: singleJobData.companyName}"></app-header>
<div class="content-wrapper list-page">
<div class="application" *ngIf="singleJobData">
  <div class="section-wrapper accent-section page-full-width">
    <div class="section page-centered posting-header">
      <div class="jobs row">
        <div class="col-12 posting">
          <h2 class="title">{{singleJobData.jobTitle}}</h2>
          <div class="posting-categories">
            <span class="posting-category medium-category-label">{{singleJobData.companyName}}</span>
            <span class="posting-category medium-category-label">{{singleJobData.jobLocation}}</span>
            <span class="posting-category medium-category-label">{{singleJobData.jobType}}</span>
          </div>
        </div>
    </div>
  </div>
</div>
<div class="section-wrapper page-full-width">
  <div class="section page-centered posting-header">
    <div class="jobs row">
      <div class="col-12 posting">
        <h4 class="titleApply">VERIFY YOUR APPLICATION</h4>
        <p *ngIf="userData.emailAddress">
          Please enter the verification code sent to your email address <b> {{userData.emailAddress}} </b>.
          If you have entered a wrong email address. Please go back and re-enter the correct email address.
        </p>
        <form [formGroup]="applyJob" class="login-container row" (ngSubmit)="onSubmit()">

          <label class="col-4 application-label">Verification Code 
            <span class="required">✱</span> 
          </label>
          <div class="col-8">
            <input type="number" placeholder="" formControlName="pinCode"
              [ngClass]="{ 'has-error': isSubmitted && formControls.pinCode.errors }">
        
            <div *ngIf="isSubmitted && formControls.pinCode.errors" class="help-block">
              <div *ngIf="formControls.pinCode.errors.required">Verification code is required</div>
              <!-- <div *ngIf="formControls.pinCode.errors.pattern">Invalid Phone number</div> -->
            </div>
          </div>
            <p class="buttonWrapper">
            <button class="template-btn-submit cerulean" type="submit">SUBMIT</button>
            </p>
          </form>
      </div>
  </div>
</div>
</div>
</div>
<div *ngIf="!singleJobData && !isLoadingResults">
  <h3 class="center">JOb not found</h3>
  </div>
</div>