<!-- Created by Affan Akhter -->
<!-- <div class="loading-shade" *ngIf="isLoadingResults">
    <div class="spinner-container">
      <mat-spinner></mat-spinner>
    </div>
  </div> -->
<div class="newJob newJD jobScreenWrapper">
  <app-job-stepper [stepperInput]="stepperData" [populate]="populateStepper"></app-job-stepper>
  <div class="inner-container">
    <mat-card>
      <div class="row center-align">
        <div class="col-md-12 title">
          <div class="backButton">
            <i
              class="material-icons"
              matTooltip="Back"
              [routerLink]="['/recruiter/newJobDegree', jobId, jdType]"
              queryParamsHandling="preserve"
            >
              arrow_back_ios
            </i>
            <!-- <span class="backText">Back</span> -->
          </div>
          <img class="logo" src="{{ globals.dnNaeLogo }}" alt="DNNae Logo" />
          <!-- <div>DNNae</div> -->
          <div class="sub-title">Technical Skills</div>
          <div class="sub-title-guide">
            Rank the importance of technical skills required for this role using the slider
          </div>
        </div>

        <div class="row page-full-width noMargin">
          <div class="col-md-12">
            <!-- <form #form="ngForm" class="col-md-12"> -->

            <!-- Experience-->
            <div *ngFor="let skill of technicalSkills.data; let i = index">
              <div class="row">
                <div class="form-group col-sm-10">
                  <!-- <label for="title"> write job description here.</label> -->
                  <input
                    autocomplete="off"
                    required
                    autofocus
                    type="text"
                    class="form-control"
                    [disabled]="skill.disable"
                    #industryDiff="ngModel"
                    name="industryDiff"
                    [(ngModel)]="skill.name"
                    placeholder="Example: Python, Java, Database querying"
                  />
                  <!-- errors -->
                  <div
                    class="form-control-feedback globar-error-text"
                    *ngIf="industryDiff.touched && industryDiff.invalid"
                  >
                    {{ industryDiff.errors.required ? 'Please provide required skill.' : '' }}
                  </div>
                </div>
                <!-- actions  -->
                <div class="issues-action col-sm-2 buttonsFlex-CreateJob">
                    <button
                      class="btn btn-light has-icon mr-10"
                      *ngIf="skill.disable"
                      (click)="editFieldsEnable(skill, i)"
                    >
                      <i class="icon ion-md-create"></i>
                    </button>

                    <button
                      class="btn btn-primary-color has-icon mr-10"
                      *ngIf="!skill.disable"
                      [disabled]="!skill.name"
                      (click)="editFieldsEnable(skill, i)"
                    >
                      <i class="icon ion-md-checkmark"></i>
                    </button>
                  <button class="btn btn-light has-icon" (click)="delete(skill, i)">
                    <i class="icon ion-md-trash"></i>
                  </button>
                </div>
              </div>
              <!-- <div class="sliderOuter row marginAuto">
                <mat-slider
                  class="scoreSlider col-sm-9"
                  id="scoreSlider"
                  thumbLabel
                  tickInterval="auto"
                  min="0"
                  max="5"
                  value="{{ skill.score }}"
                  (input)="score($event, i)"
                >
                </mat-slider>
                <span class="col-sm-3 scoreText">{{ skill.scoreText }}</span>
              </div> -->
              <div class="sliderOuter row marginAuto">
                <ng5-slider
                  [(value)]="skill.score"
                  class="jobSliderCustoms"
                  *ngIf="skill.name"
                  (userChange)="score($event, i)"
                  [options]="options"
                ></ng5-slider>
              </div>
              <div class="hr-line-loop"></div>
            </div>

            <div class="row marginAuto no-padding mt-3">
              <button class="btn btn-primary-color save-btn col-sm-6" (click)="AddNew()">
                Add Skills
              </button>
              <button class="btn btn-primary-color save-btn col-sm-6" (click)="Next()">
                Next
              </button>
            </div>
            <!-- </form> -->
          </div>
        </div>
      </div>
    </mat-card>
  </div>
</div>
