<!-- Created by Affan Akhter -->
<div class="loading-shade" *ngIf="isLoadingResults">
  <div class="spinner-container">
    <mat-spinner></mat-spinner>
  </div>
</div>
<div class="inbox">
  <div class="inner-container">
    <mat-card>
      <div class="row center-align">
        <div class="col-sm-12">
          <ngb-tabset type="pills" orientation="horizontal" class="jobListHorizontal">
            <ngb-tab>
              <ng-template ngbTabTitle
                ><span class="jobTitle" (click)="getJobProspects({ jobID: 'All' }, '1')">All </span></ng-template
              >
            </ngb-tab>
            <div *ngFor="let job of jobsList?.job; let i = index">
              <ngb-tab>
                <ng-template ngbTabTitle
                  ><span class="jobTitle" (click)="getJobProspects(job, '1')">{{ job.jobTitle }} </span></ng-template
                >
              </ngb-tab>
            </div>
          </ngb-tabset>
        </div>
        <div class="col-md-12 form-container">
          <div class="wrapper">
            <div class="container">
              <div
                class="left"
                infinite-scroll
                [infiniteScrollDistance]="scrollDistance"
                [infiniteScrollThrottle]="throttle"
                [scrollWindow]="false"
                (scrolled)="getJobProspects({ jobID: tempJobId }, '2')"
              >
                <!-- <div class="top">
                  <input type="text" placeholder="Search" />
                </div> -->
                <div *ngIf="ProspectsList?.applicantArray?.length > 0">
                  <ul class="people">
                    <li
                      class="person"
                      *ngFor="let prospect of ProspectsList?.applicantArray; let j = index"
                      [ngClass]="{
                        active: prospect.selected
                      }"
                    >
                      <div (click)="getAdditionalInfo(prospect, j)">
                        <img
                          src="{{ prospect.image_url || globals.defaultImage }}"
                          alt="{{ prospect.full_name }} image"
                        />
                        <span class="name">{{ prospect?.full_name }}</span>
                        <span class="time">{{
                          prospect?.lastMessage?.dateTime | date: 'shortTime'
                        }}</span>
                        <span class="preview">{{ prospect?.lastMessage?.messageText }}</span>
                      </div>
                    </li>
                  </ul>
                </div>
                <div *ngIf="ProspectsList?.applicantArray?.length == 0" class="noneFound">
                  <span>No Prospects Found</span>
                </div>
              </div>
              <div class="right">
                <div
                  *ngIf="
                    messagesList?.messagesArray.length > 0 &&
                    ProspectsList?.applicantArray.length > 0
                  "
                >
                  <div class="top">
                    <span
                      >To: <span class="name">{{ messagesList?.full_name }}</span></span
                    >
                  </div>

                  <div class="chat">
                    <div class="conversation-start">
                      <span>{{
                        (messagesList?.messagesArray)[0].dateTime | date: 'fullDate'
                      }}</span>
                    </div>
                    <div *ngFor="let convo of messagesList?.messagesArray; let k = index">
                      <div
                        class="bubble"
                        [ngClass]="{
                          you: convo.type == 'RECEIVED',
                          me: convo.type == 'SENT'
                        }"
                      >
                        {{ convo.messageText }}
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  *ngIf="
                    messagesList?.messagesArray.length == 0 && ProspectsList?.applicantArray.length
                  "
                  class="noneFound"
                >
                  <span>No Messages Found</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-card>
  </div>
</div>
