<div class="main-header page-full-width section-wrapper">
  <div class="main-header-content page-centered narrow-section">
    <nav class="no-padding  navbar navbar-expand-lg navbar-light navCustom container">
      <a class="navbar-brand" [routerLink]="['/recruiter/main']" queryParamsHandling="preserve">
        <img class="logo" src="{{ globals.dnNaeLogo }}" alt="DNNae Logo" />
        <span class="myApp">DNNae</span>
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent" *ngIf="hideTabs===true">
        <div class="inboxOuter">
          <i
            class="material-icons"
            matTooltip="Coming Soon"
            [matTooltipClass]="'customToolTip'"
            queryParamsHandling="preserve"
          >
            mail
          </i>
          <!-- <i
          class="material-icons"
          matTooltip="Inbox"
          [matTooltipClass]="'customToolTip'"
          [routerLink]="['/recruiter/inbox']"
          queryParamsHandling="preserve"
        >
          mail
        </i> -->
        </div>
        <div ngbDropdown class="d-inline-block">
          <button class="btn btn-outline-primary btn-custom" id="dropdownBasic1" ngbDropdownToggle>
            <!-- <div class="col-md-12 align-center">
              <img
                class="rounded-circle img-thumbnail pic"
                src="{{ userData.imageURL || globals.defaultImage }}"
                alt="{{ userData.imageURL }} name"
              />
            </div> -->
            <span class="account-name">{{ userData?.name }}</span>
            <!-- <span class="account-role">Logged In</span> -->
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="userProfile-dropdown">
            <!-- <a
              class="dropdown-item"
              [routerLink]="['/cancellationReasons']"
              *ngIf="routGurd == 'admin'"
              >Cancellation Reasons</a
            >
            <a class="dropdown-item" [routerLink]="['/packageSizes']" *ngIf="routGurd == 'admin'"
              >Package Sizes</a
            >
            <a class="dropdown-item" [routerLink]="['/configrations']" *ngIf="routGurd == 'admin'"
              >Configration Settings</a
            > -->
            <!-- <a class="dropdown-item" [routerLink]="['/admin/promocodes']" *ngIf="permissionData['viewPromoCodes']">Promocodes</a>
                <a class="dropdown-item" [routerLink]="['/admin/languages']" *ngIf="permissionData['viewLanguages']">Languages</a>
                <a class="dropdown-item" [routerLink]="['/configurations']" *ngIf="permissionData['viewConfigurations']">Configurations</a>
                <a class="dropdown-item" [routerLink]="['/admin/block-locations']" *ngIf="permissionData['viewBlockedLocations']">Block
                  Locations</a>
                <a class="dropdown-item" [routerLink]="['/admin/role-security']" *ngIf="permissionData['viewRolesAndSecurity']">Roles
                  & Security</a>
                <a class="dropdown-item" [routerLink]="['/admin/reported-issues']" *ngIf="permissionData['viewReportedIssues']">Reported
                  Issues</a>
                <a class="dropdown-item" [routerLink]="['/admin/bank-listing']" *ngIf="permissionData['viewBanks']">Bank
                  Listing</a> -->
            <!-- <a class="dropdown-item" [routerLink]="['/admin/payouts']">Payouts</a> -->
            <!-- <a class="dropdown-item" [routerLink]="['/admin/notifications']" *ngIf="permissionData['viewNotification']">Notifications</a>-->
            <a class="dropdown-item" (click)="logOut()">Logout</a>
          </div>
        </div>
      </div>
    </nav>
  </div>
</div>
