<!-- Created by Affan Akhter -->
<!-- <div class="loading-shade" *ngIf="isLoadingResults">
    <div class="spinner-container">
      <mat-spinner></mat-spinner>
    </div>
  </div> -->
<div class="newJob newJD">
  <div class="inner-container">
    <mat-card>
      <div class="row center-align">
        <div class="col-md-12 title">
          <img class="logo" src="../../../assets/download.png" alt="DNNae Logo" />
          <!-- <div>DNNae</div> -->
          <div class="sub-title">Education: Degree</div>
        </div>

        <div class="row page-full-width noMargin">
          <div class="col-md-12">
            <!-- <form #form="ngForm" class="col-md-12"> -->

            <!-- Degree major-->
            <div>
              <div class="degreeTitle">Degree Major</div>
              <div *ngFor="let degreeMajor of degreeMajor.data; let i = index">
                <div class="row">
                  <div class="form-group col-sm-11">
                    <!-- <label for="title"> write job description here.</label> -->
                    <input
                      autocomplete="off"
                      required
                      type="text"
                      class="form-control"
                      [disabled]="degreeMajor.disable"
                      #industryDiff="ngModel"
                      name="industryDiff"
                      [(ngModel)]="degreeMajor.name"
                      placeholder="Please write required degree Major"
                    />
                    <!-- errors -->
                    <div
                      class="form-control-feedback globar-error-text"
                      *ngIf="industryDiff.touched && industryDiff.invalid"
                    >
                      {{
                        industryDiff.errors.required ? 'Please provide required experience.' : ''
                      }}
                    </div>
                  </div>
                  <!-- actions  -->
                  <div class="issues-action col-sm-1">
                    <button
                      class="btn btn-light has-icon"
                      *ngIf="degreeMajor.disable"
                      (click)="editFieldsEnable(degreeMajor, i, 'DegreeMajor')"
                    >
                      <i class="icon ion-md-create"></i>
                    </button>

                    <button
                      class="btn btn-primary-color has-icon"
                      *ngIf="!degreeMajor.disable"
                      [disabled]="!degreeMajor.name"
                      (click)="editFieldsEnable(degreeMajor, i, 'DegreeMajor')"
                    >
                      <i class="icon ion-md-checkmark"></i>
                    </button>
                  </div>
                </div>
                <div class="sliderOuter row marginAuto">
                  <mat-slider
                    class="scoreSlider col-sm-9"
                    id="scoreSlider"
                    thumbLabel
                    tickInterval="auto"
                    min="0"
                    max="5"
                    (input)="score($event, i, 'DegreeMajor')"
                  >
                  </mat-slider>
                  <span class="col-sm-3 scoreText">{{ degreeMajor.scoreText }}</span>
                </div>
              </div>
            </div>
            <!-- Degree-->
            <div>
              <div class="degreeTitle">Degree</div>
              <div *ngFor="let degree of degree.data; let i = index">
                <div class="row">
                  <div class="form-group col-sm-11">
                    <!-- <label for="title"> write job description here.</label> -->
                    <input
                      autocomplete="off"
                      required
                      type="text"
                      class="form-control"
                      [disabled]="degree.disable"
                      #industryDiff="ngModel"
                      name="industryDiff"
                      [(ngModel)]="degree.name"
                      placeholder="Please write required degree Major"
                    />
                    <!-- errors -->
                    <div
                      class="form-control-feedback globar-error-text"
                      *ngIf="industryDiff.touched && industryDiff.invalid"
                    >
                      {{
                        industryDiff.errors.required ? 'Please provide required experience.' : ''
                      }}
                    </div>
                  </div>
                  <!-- actions  -->
                  <div class="issues-action col-sm-1">
                    <button
                      class="btn btn-light has-icon"
                      *ngIf="degree.disable"
                      (click)="editFieldsEnable(degree, i, 'degree')"
                    >
                      <i class="icon ion-md-create"></i>
                    </button>

                    <button
                      class="btn btn-primary-color has-icon"
                      *ngIf="!degree.disable"
                      [disabled]="!degree.name"
                      (click)="editFieldsEnable(degree, i, 'degree')"
                    >
                      <i class="icon ion-md-checkmark"></i>
                    </button>
                  </div>
                </div>
                <div class="sliderOuter row marginAuto">
                  <mat-slider
                    class="scoreSlider col-sm-9"
                    id="scoreSlider"
                    thumbLabel
                    tickInterval="auto"
                    min="0"
                    max="5"
                    value={{degree.score}}
                    (input)="score($event, i, 'degree')"
                  >
                  </mat-slider>
                  <span class="col-sm-3 scoreText">{{ degree.scoreText }}</span>
                </div>
              </div>
            </div>

            <div class="row marginAuto no-padding mt-3">
              <button
                class="btn btn-primary-color save-btn col-sm-4"
                (click)="AddNew('DegreeMajor')"
              >
                Add Major
              </button>
              <button class="btn btn-primary-color save-btn col-sm-4" (click)="AddNew('Degree')">
                Add Degree
              </button>
              <button class="btn btn-primary-color save-btn col-sm-4" (click)="Next()">
                Next
              </button>
            </div>
            <!-- </form> -->
          </div>
        </div>
      </div>
    </mat-card>
  </div>
</div>
