<!-- Created by Affan Akhter -->
<div class="">
  <div class="inner-container">
    <mat-card>
      <div class="row center-align align-center">
        <div class="col-md-12 title">
          <img class="logo" src="{{ globals.dnNaeLogo }}" alt="DNNae Logo" />
          <!-- <div>DNNae</div> -->
          <div>Please close this tab and turn on the Extension.</div>
        </div>
        <!-- <div>
          Please close this tab and turn on the Extension.
        </div> -->
      </div>
    </mat-card>
  </div>
</div>
