<!-- Created by Affan Akhter -->
<div class="loading-shade" *ngIf="isLoadingResults">
  <div class="spinner-container">
    <mat-spinner></mat-spinner>
  </div>
</div>
<div class="newJob">
  <div class="inner-container">
    <mat-card>
      <div class="row center-align">
        <div class="col-md-12 title">
          <img class="logo" src="{{ globals.dnNaeLogo }}" alt="DNNae Logo" />
          <!-- <div>DNNae</div> -->
          <div>Please provide job description using one of the option below</div>
        </div>
        <div class=" row buttonsOuter">
          <!-- <message-list [messages]="messages"></message-list> -->
          <!-- <app-buttons [buttons]="buttons"></app-buttons> -->
          <button
            class="col-md-4 btn btn-primary-color"
            [routerLink]="['/recruiter/textJob']"
            queryParamsHandling="preserve"
          >
            Use Text
          </button>
          <div class="padding0 col-md-4 ">
            <label for="profile_upload" class="file-upload-label width-100perc ">
              <button class="btn btn-primary-color width-100perc ">Use PDF</button>
            </label>
            <input
              id="profile_upload"
              type="file"
              (change)="uploadFile($event.target.files)"
              accept="application/pdf"
              class="file-upload-input-button"
              name="file-upload"
            />
          </div>
          <button
            class="col-md-4 btn btn-primary-color"
            [routerLink]="['/recruiter/newJobDescription']"
            queryParamsHandling="preserve"
          >
            Answer Questions
          </button>
          <!-- <message-form [message]="message" [messages]="messages"></message-form> -->
        </div>
      </div>
    </mat-card>
  </div>
</div>
