<!-- Created by Affan Akhter -->
<div class="loading-shade" *ngIf="isLoadingResults">
  <div class="spinner-container">
    <mat-spinner></mat-spinner>
  </div>
</div>
<div class="jobList">
  <div class="inner-container">
    <mat-card>
      <div class="row center-align" *ngIf="!showExtensionMessage">
        <div class="col-md-12 title">
          <img class="logo" src="{{ globals.dnNaeLogo }}" alt="DNNae Logo" />
          <!-- <div>DNNae</div> -->
          <div class="subTitle" *ngIf="jobs && jobs?.length > 0">
            Here is the list of Jobs You created
          </div>
        </div>
        <div *ngIf="jobs && jobs?.length > 0">
          <div class="col-sm-12" *ngFor="let job of sortData; let i = index">
            <div class="row rowWrapper">
              <h3 (click)="goto(job)" class="jobTitle col-sm-9 ">{{ job.jobTitle }}</h3>
              <div class="col-sm-3 iconsOuter">
                <i
                  class="material-icons"
                  matTooltip="Edit job"
                  [matTooltipClass]="'customToolTip'"
                  (click)="clearStepper()"
                  [routerLink]="['/recruiter/jobTitle', job.jobID, job.jdType]"
                  queryParamsHandling="preserve"
                >
                  edit
                </i>
                <i
                  class="material-icons "
                  *ngIf="job?.applicants?.length > 0"
                  [routerLink]="['/recruiter/prospects', job.jobID]"
                  queryParamsHandling="preserve"
                  matTooltip="Prospects list"
                  [matTooltipClass]="'customToolTip'"
                >
                  people
                </i>
                <i
                  class="material-icons delete"
                  [matTooltipClass]="'customToolTip'"
                  matTooltip="Delete job"
                  (click)="delete(job, i)"
                >
                  delete_forever
                </i>
                <i
                  class="material-icons"
                  [matTooltipClass]="'customToolTip'"
                  matTooltip="Job Settings"
                  [routerLink]="['/recruiter/settings', job.jobID]"
                  queryParamsHandling="preserve"
                >
                  settings
                </i>

                <i
                  class="material-icons"
                  [matTooltipClass]="'customToolTip'"
                  matTooltip="Job details"
                  (click)="goto(job)"
                >
                  description
                </i>
              </div>
              <!-- <div class=" col-sm-2" [routerLink]="['/recruiter/prospects', job.jobID]">
              <img
                class="prospects-btn"
                *ngIf="job?.applicants.length > 0"
                src="../../../assets/prospects.png"
                alt="prospects"
              />
            </div> -->
              <!-- <button (click)="goto(job)" class="btn btn-primary-color col-sm-2 details-button">
              Details
            </button> -->
            </div>

            <div>
              <div class="row alignCenter">
                <span class="dot"></span>
                <div>{{ job?.jobStatus }}</div>
                <!-- <div>{{job.updatedAt}}</div> -->
              </div>

              <div class="row">
                <div class="rightMargin smallCategoryLabel">{{ job?.jobType }}</div>
                <div class="rightMargin smallCategoryLabel">{{ job?.jobLocation }}</div>
                <div class="rightMargin smallCategoryLabel">{{ job?.companyName }}</div>
              </div>
              <div class="row">
                <a target="_blank" [href]="sanitize(job.jobLink)">{{ job?.jobLink }}</a>
              </div>
            </div>
            <div class="hr-line"></div>
          </div>
        </div>
        <div class="noneFound" *ngIf="jobs && jobs?.length <= 0">
          No Jobs available
        </div>
      </div>
      <app-switch-to-extension *ngIf="showExtensionMessage"></app-switch-to-extension>
    </mat-card>
  </div>
</div>
