<!-- Created by Affan Akhter -->
<div class="loading-shade" *ngIf="isLoadingResults">
  <div class="spinner-container">
    <mat-spinner></mat-spinner>
  </div>
</div>
<div class="newJob jobPreview">
  <div class="inner-container">
    <mat-card>
      <div class="row center-align">
        <div class="col-md-12 title">
          <img class="logo"  src={{globals.dnNaeLogo}} alt="DNNae Logo" />
          <!-- <div>DNNae</div>
                <div>Your personal recruiter</div> -->
        </div>
        <div class="col-md-12 form-container">
          <form>
          <div class="form-group">
            <textarea
              type="text"
              class="form-control dabba"
              id="text"
              name="text"
              placeholder="Please type Message"
              [(ngModel)]="textToSend"
              #text="ngModel"
              required
            >
            </textarea>
          </div>
           <!-- errors -->
           <div
           class="form-control-feedback globar-error-text"
           *ngIf="text.touched && text.invalid"
         >
           <div *ngIf="text.errors.required">Message is required!</div>
         </div>

          <div class="row no-padding mt-3">
            <button class="col-md-12  btn btn-primary-color save-btn" [disabled]="!textToSend" (click)="send()">
              Send
            </button>
          </div>
        </form>
          <div *ngIf="receivedData" class="response">
              <h3>Api Response:</h3>
              <pre [innerHTML]="receivedData | prettyprint"></pre>
          </div>
        </div>
      </div>
    </mat-card>
  </div>
</div>
