.jobDetail {
  position: relative;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 100%;
  .postings-group {
    margin-top: 40px;
  }
  .posting {
    display: inline-block;
    position: relative;
    width: 100%;
    margin: 10px 0;
  }
  .posting-header h2 {
    margin-top: 0px;
    font-size: 36px;
    text-transform: capitalize;
  }
  .formateText {
    white-space: pre-line;
  }

  .title,
  .title:visited {
    color: #737578;
  }
  .accent-section .posting-categories {
    margin: 20px 0px;
  }
  .posting .posting-categories {
    height: 30px;
    vertical-align: top;
  }
  .posting .posting-category {
    display: inline-block;
    margin-right: 15px;
  }
  .aboutLabel {
    font-weight: 600;
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
    // line-height: 1.8;
  }
  .buttonWrapper {
    margin: auto;
    text-align: center;
  }
}
.center {
  text-align: center;
}
@media screen and (min-width: 650px) {
  .posting {
    display: table-cell;
    width: 100%;
  }
  .posting-btn-submit {
    display: table-cell;
    vertical-align: top;
  }
}
