<div class="loading-shade" *ngIf="isLoadingResults">
  <div class="spinner-container">
    <mat-spinner></mat-spinner>
  </div>
</div>
<app-header
  *ngIf="singleJobData"
  [logoURL]="{ key: 'name', value: singleJobData.companyName }"
></app-header>
<div class="content-wrapper list-page">
  <div class="jobDetail" *ngIf="singleJobData">
    <div class="section-wrapper accent-section page-full-width">
      <div class="section page-centered posting-header">
        <div class="jobs row">
          <div class="col-10 posting">
            <h2 class="title">{{ singleJobData?.jobTitle }}</h2>
            <div class="posting-categories">
              <span class="posting-category medium-category-label">{{
                singleJobData?.companyName
              }}</span>
              <span class="posting-category medium-category-label">{{
                singleJobData?.jobLocation
              }}</span>
              <!-- <span class="posting-category medium-category-label">{{singleJobData.jobField}}</span> -->
              <span class="posting-category medium-category-label">{{
                singleJobData?.jobType
              }}</span>
            </div>
          </div>
          <div class="col-sm-2">
            <button
              (click)="goto(singleJobData)"
              class="applyButton template-btn-submit cerulean posting-apply"
              type="button"
            >
              Apply
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="section-wrapper page-full-width mb15">
  <div class="section page-centered">
    <div class="">
      <span class="aboutLabel">About {{singleJobData.companyName}}</span>
    </div>
    <div>
      <span>
        {{singleJobData.about}}
      </span>
    </div>
</div>
</div> -->
<div class="section-wrapper page-full-width formateText" *ngIf="singleJobData.jdType !== 'qa'">
    <div class="section page-centered" innerHTML= "{{singleJobData.jdText}}">
    </div>
</div>
    <div class="section-wrapper page-full-width" *ngIf="singleJobData.jdType == 'qa'">
      <div class="section page-centered" *ngFor="let jobData of singleJobData?.jobDescription">
        <div
          *ngIf="jobData.tag !== 'COMPANY_INDUSTRY_SPECIALTIES' && jobData.tag !== 'COMPANY_NAME'"
        >
          <div class="">
            <span class="aboutLabel">{{ jobData?.title }}</span>
          </div>
          <div *ngFor="let descriptionData of jobData?.data">
            <div>
              {{ descriptionData }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="buttonWrapper section page-centered last-section-apply page-full-width">
      <button (click)="goto(singleJobData)" class="template-btn-submit cerulean" type="button">
        Apply
      </button>
    </div>
  </div>
  <div *ngIf="!singleJobData && !isLoadingResults">
    <h3 class="center">JOb not found</h3>
  </div>
</div>
