<!-- Created by Affan Akhter -->
<div class="loading-shade" *ngIf="isLoadingResults">
  <div class="spinner-container">
    <mat-spinner></mat-spinner>
  </div>
</div>
<div class="messages">
  <div class="inner-container">
    <mat-card>
      <div class="row center-align">
        <div class="col-md-12 title">
          <img class="logo" src="{{ globals.dnNaeLogo }}" alt="DNNae Logo" />
          <!-- <div>DNNae</div> -->
          <div class="subTitle">Messages Templates</div>
        </div>
        <div>
          <div class="col-sm-12" *ngFor="let prospect of messagingTemplates; let i = index">
            <div class="row dummyProspectWrapper" (click)="createFakeProfile(prospect)">
              <div class="col-sm-2">
                <img
                  src="{{ prospect.image || globals.defaultImage }}"
                  class="rounded-circle img-thumbnail"
                  alt="{{ prospect.name }} picture"
                />
              </div>
              <div class="col-sm-8">
                <h3 class="jobTitle name">
                  {{ prospect.name }}
                </h3>
                <div class="alignCenter">
                  <div class="skillsListing">{{ prospect.connectionType }}</div>
                  <div class="skillsListing">{{ prospect.score }}</div>
                </div>
              </div>
              <div class="col-sm-2 forwardOuter">
                <i class="material-icons">
                  arrow_forward_ios
                </i>
              </div>
            </div>
            <div class="hr-line"></div>
          </div>
        </div>
      </div>
    </mat-card>
  </div>
</div>
