<!-- Created by Affan Akhter -->
<div class="loading-shade" *ngIf="isLoadingResults">
  <div class="spinner-container">
    <mat-spinner></mat-spinner>
  </div>
</div>
<div class="defaultRequestMessage">
  <div class="inner-container">
    <mat-card>
      <div class="row center-align">
        <div class="col-md-12 title">
          <img class="logo" src={{globals.dnNaeLogo}} alt="DNNae Logo" />
          <!-- <div>DNNae</div> -->
          <div class=" sub-title title">Calendly Link</div>
        </div>
        <div class="row width-100">
          <form #form="ngForm" class="col-md-12">
            <!-- form fields -->
            <div class="row">
              <!--connection message title -->
              <div class="form-group col-md-12">
                <!-- <label for="title">Please provide your calendly link</label> -->
                <textarea
                  autocomplete="off"
                  required
                  type="text"
                  class="form-control"
                  [ngClass]="{ 'error-border': title.touched && title.invalid }"
                  #title="ngModel"
                  #message
                  name="title"
                  [(ngModel)]="model.title"
                  placeholder="Enter your calendly link (which will be used for setting up meetings with job prospects)"
                  
                >
                </textarea>
                <!-- errors -->
                <div
                  class="form-control-feedback globar-error-text"
                  *ngIf="title.touched && title.invalid"
                >
                  {{ title.errors.required ? 'Please provide your calendly link.' : '' }}
                </div>
              </div>
            </div>
          </form>
          <div class="col-md-12 no-padding mt-3">
            <button
              class="btn btn-primary-color save-btn"
              [disabled]="form.invalid"
              (click)="saveData()"
            >
              Save
            </button>
          </div>
        </div>
      </div>
    </mat-card>
  </div>
</div>
