<!-- Created by Affan Akhter -->
<div class="loading-shade" *ngIf="isLoadingResults">
  <div class="spinner-container">
    <mat-spinner></mat-spinner>
  </div>
</div>
<div class="messages">
  <div class="inner-container">
    <mat-card>
      <div class="row center-align">
        <!-- <div class="col-md-12 title">
            <img class="logo" src="{{ globals.dnNaeLogo }}" alt="DNNae Logo" />
            <div class="subTitle">Messages Templates</div>
          </div> -->
        <div class="chatTemplateOuter">
          <main>
            <header>
              <!-- <img
                  src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1940306/chat_avatar_01.jpg"
                  alt=""
                /> -->
              <img
                src="{{ prospectMessages?.image || globals.defaultImage }}"
                alt="{{ prospectMessages?.name }} picture"
                class="img-thumbnail"
              />
              <div>
                <h2>Chat with Dnnae</h2>
                <h3>{{ prospectMessages?.connectionType }}</h3>
                <h3>{{ prospectMessages?.score.final_score }}</h3>
              </div>
              <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1940306/ico_star.png" alt="" />
            </header>
            <!-- <div class="hr-line"></div> -->
            <ul id="chat">
              <div *ngFor="let message of prospectMessages?.messageArrayHistory; let i = index">
                <li
                  class=""
                  [ngClass]="{
                    you: message.type == 'RECEIVED',
                    me: message.type == 'SENT'
                  }"
                >
                  <div
                    class=""
                    [ngClass]="{
                      entityYou: message.type == 'RECEIVED',
                      entityMe: message.type == 'SENT'
                    }"
                  >
                    <span
                      class="status"
                      [ngClass]="{
                        green: message.type == 'RECEIVED',
                        blue: message.type == 'SENT'
                      }"
                    ></span>
                    <h2>{{ message.type == 'RECEIVED' ? prospectMessages.name : 'dnnae' }}</h2>
                    <h3>10:12AM, Today</h3>
                  </div>
                  <div class="triangle"></div>
                  <div class="message messageNonEdit">
                    {{ message.messageText }}
                  </div>
                  <div *ngIf="message.type == 'RECEIVED'">
                    <ngb-rating [(rate)]="message.rating"></ngb-rating>
                  </div>
                  <div>
                    <span>
                      {{ message.message_intent || None }}
                    </span>
                    <span>-----</span>
                    <span>
                      {{ message.message_response_key || None }}
                    </span>
                  </div>
                </li>
              </div>
            </ul>
            <div class="chat-message clearfix">
              <textarea
                name="message-to-send"
                id="message-to-send"
                [(ngModel)]="model.messageText"
                placeholder="Type your message"
                rows="3"
              ></textarea>
              <button class="btn btn-primary-color" (click)="send()">Send</button>
            </div>
            <!-- end chat-message -->
          </main>
          <div class="col-md-10 margin-auto">
            <!-- <button class="btn btn-primary-color next-btn" (click)="save()">
              Save & Continue
            </button> -->
          </div>
        </div>
      </div>
    </mat-card>
  </div>
</div>
