<!-- Created by Affan Akhter -->
<div class="loading-shade" *ngIf="isLoadingResults">
  <div class="spinner-container">
    <mat-spinner></mat-spinner>
  </div>
</div>
<div class="messages">
  <div class="inner-container">
    <mat-card>
      <div class="row center-align">
        <div class="col-md-12 title">
          <img class="logo"  src={{globals.dnNaeLogo}} alt="DNNae Logo" />
          <!-- <div>DNNae</div> -->
          <div class="subTitle">Messages Templates</div>
        </div>
        <div>
          <div class="col-sm-12">
            <div class="row dummyProspectWrapper">
              <div class="col-sm-2">
                <img
                  src="{{ prospect.image || globals.defaultImage  }}"
                  class="rounded-circle img-thumbnail"
                  alt="{{ prospect.name }} picture"
                />
              </div>
              <div class="col-sm-8">
                <h3 class="jobTitle name">
                  {{ prospect.name }}
                </h3>
                <div class="alignCenter">
                  <div class="skillsListing">{{ prospect.connectionType }}</div>
                  <div class="skillsListing">{{ prospect.score }}</div>
                </div>
              </div>
              <!-- <div class="col-sm-2 forwardOuter">
                <i class="material-icons">
                  arrow_forward_ios
                </i>
              </div> -->
            </div>
            <div class="hr-line"></div>
            <div *ngIf="firstMessage" class="message">
              {{prospect.name}} is a great candidate for this job, and has a high matching score
            </div>
            <div  *ngIf="!firstMessage" class="message">
              We will look at communication between you and her. In this example, {{prospect.name}} is interested in the new role. Edit your messaging template as you like. The final intent is to schedule a call with a high scoring prospect that is interested
            </div>
          </div>
          <div class="col-md-10 margin-auto">
            <button class="btn btn-primary-color next-btn" (click)= nextMessage(firstMessage)> Next</button>

          </div>
        </div>
      </div>
    </mat-card>
  </div>
</div>
