<!-- Created by Affan Akhter -->
<div class="loading-shade" *ngIf="isLoadingResults">
  <div class="spinner-container">
    <mat-spinner></mat-spinner>
  </div>
</div>
<div class="newJob jobPreview">
  <div class="inner-container">
    <mat-card>
      <div class="row center-align">
        <div class="col-md-12 title">
          <img class="logo"  src={{globals.dnNaeLogo}} alt="DNNae Logo" />
          <!-- <div>DNNae</div>
                  <div>Your personal recruiter</div> -->
        </div>
        <div class="col-md-12 form-container">
          <form>
            <div class="form-group">
              <div class="row">
                <div class="col-sm-6">
                  <textarea
                    type="text"
                    class="form-control dabba"
                    id="text"
                    name="text"
                    placeholder="Please enter title"
                    [(ngModel)]="textToSend.title"
                    #title="ngModel"
                    required
                  >
                  </textarea>
                </div>
                <div class="col-sm-6">
                  <textarea
                    type="text"
                    class="form-control dabba"
                    id="text"
                    name="text"
                    placeholder="Please enter summary"
                    [(ngModel)]="textToSend.summary"
                    #summary="ngModel"
                    required
                  >
                  </textarea>

                </div>
                <div class="col-sm-6">
                  <textarea
                    type="text"
                    class="form-control dabba"
                    id="text"
                    name="text"
                    placeholder="Please enter skills"
                    [(ngModel)]="textToSend.skills"
                    #skills="ngModel"
                    required
                  >
                  </textarea>

                </div>
                <div class="col-sm-6">
                  <textarea
                    type="text"
                    class="form-control dabba"
                    id="text"
                    name="text"
                    placeholder="Please enter experience"
                    [(ngModel)]="textToSend.experience"
                    #experience="ngModel"
                    required
                  >
                  </textarea>
     
                </div>
                <div class="col-sm-6">
                  <textarea
                    type="text"
                    class="form-control dabba"
                    id="text"
                    name="text"
                    placeholder="Please enter education"
                    [(ngModel)]="textToSend.education"
                    #education="ngModel"
                    required
                  >
                  </textarea>
     
                </div>
                <div class="col-sm-6">
                  <textarea
                    type="text"
                    class="form-control dabba"
                    id="text"
                    name="text"
                    placeholder="Please enter location"
                    [(ngModel)]="textToSend.location"
                    #location="ngModel"
                    required
                  >
                  </textarea>
                
                </div>
              </div>
            </div>

            <div class="row no-padding mt-3">
              <button
                class="col-md-12  btn btn-primary-color save-btn"
                [disabled]="!textToSend"
                (click)="send()"
              >
                Send
              </button>
            </div>
          </form>
          <div *ngIf="receivedData" class="response">
            <h3>Api Response:</h3>
            <pre [innerHTML]="receivedData | prettyprint"></pre>
          </div>
        </div>
      </div>
    </mat-card>
  </div>
</div>
