<!-- Created by Affan Akhter -->
<div class="loading-shade" *ngIf="isLoadingResults">
  <div class="spinner-container">
    <mat-spinner></mat-spinner>
  </div>
</div>
<div class="newJob newJD">
  <div class="inner-container">
    <mat-card>
      <div class="row center-align">
        <div class="col-md-12 title">
          <img class="logo" src="{{ globals.dnNaeLogo }}" alt="DNNae Logo" />
          <!-- <div>DNNae</div> -->
          <div class="sub-title">Create new job description</div>
        </div>

        <div class="row page-full-width noMargin">
          <form #form="ngForm" class="col-md-12">
            <!-- form fields -->
            <!--first question title -->
            <div class="form-group">
              <!-- <label for="title"> write job description here.</label> -->
              <!-- <textarea
                autocomplete="off"
                required
                type="text"
                class="form-control"
                [ngClass]="{ 'error-border': title.touched && title.invalid }"
                #title="ngModel"
                name="title"
                [(ngModel)]="model.title"
                placeholder="Please write job description here"
              >
              </textarea> -->
              <app-ngx-editor
                required
                [placeholder]="'Please write job description here...'"
                [spellcheck]="true"
                class="ngxWrapper"
                [config]="editorConfig"
                (paste)="paste($event)"
                [ngClass]="{ 'error-border': title.touched && title.invalid }"
                #title="ngModel"
                name="title"
                [(ngModel)]="model.title"
              ></app-ngx-editor>
              <!-- errors -->
              <div
                class="form-control-feedback globar-error-text"
                *ngIf="title.touched && title.invalid"
              >
                {{ title.errors.required ? 'Job description required.' : '' }}
              </div>
            </div>

            <div class="col-md-12 no-padding mt-3">
              <button
                class="btn btn-primary-color save-btn"
                [disabled]="form.invalid"
                (click)="submit()"
              >
                Next
              </button>
            </div>
          </form>
        </div>
      </div>
    </mat-card>
  </div>
</div>
