@import '../../../../../assets/styles/base.scss';
@import '../../../../../assets/styles/font-face.scss';
.newJD {
  align-items: inherit !important;
  .title {
    font-size: 24px;
    font-weight: bold;
  }
  .sub-title {
    margin: 15px 0 15px 0;
  }
  .mat-card {
    background: #fff;
    padding: 20px !important;
    // color: rgba(0,0,0,.87) !important;
  }
  .noMargin {
    margin: 0;
  }
  textarea.form-control {
    height: 50vh !important;
  }
  .save-btn {
    width: 100%;
    border-radius: 10px;
  }
  .tAndc,
  .loginAnchor {
    color: $primary-color !important;
  }
  .loginOuter {
    margin-top: 20px;
    text-align: center;
  }
  .matBox-custom {
    //   max-width: 30rem;
    width: 50%;
  }
  .ngxWrapper {
    white-space: pre;
  }
}
@media (max-width: $breakpoint-medium) {
  .matBox-custom {
    width: 100%;
  }
}
