@import '../../../../assets/styles/base.scss';
mat-card {
    padding: 40px;
    // width: 50%;
}

input {
    border-radius: 10px;
}

.recruiter-home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 100%;
}
.logo{
    width: 90px;
}
.center-align{
    width: 100%;
    margin: auto;
}
.recruiter-home .inner-container {
    width: 50%;
}

mat-card .title {
    // font-family: "ubuntuBold";
    font-size: 24px;
    text-align: center;
}

label {
    color: #9F9E9F;
}

.form-container {
    display: block;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}
.accountLogin{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.create-account{
    width: 50%;
}

.accountLogin a {
    text-align: center;
    text-decoration: underline;
    font-size: 14px;
    color: rgba(0, 0, 0, .87);
    cursor: pointer;
    width: 100%;
}
@media (max-width: $breakpoint-medium) {
    .recruiter-home .inner-container {
        width: 100%;
    }
}