@import './../../../../assets/styles/base.scss';
@media only screen and (max-width: 64em){
    .navbar-right{
        margin-left: auto;
        margin-right: 40px;
    }
}
.myApp{
    margin-left: 0.8rem;
    // color: #c51802;
}
.navCustom{
    // box-shadow:-1px 0px 36px -8px rgb(254, 122, 48);
}
.main-header.section-wrapper, .main-header .section {
    padding-top: 0px;
    padding-bottom: 0px;
}
.main-header {
    position: fixed;
    z-index: 100;
    top: 0;
    overflow: hidden;
    height: 70px;
    background: #fff;
    color: #515357;
    left: 0px;
    right: 0px;
}
.section-wrapper {
    padding: 0px 30px;
}
.main-header .main-header-content {
    display: block;
    height: 100%;
    margin: 0px auto;
    color: #515357;
}
.narrow-section{
    max-width: 760px;
    padding-left: 0px;
    padding-right: 0px;
}
.navbar-brand{
    margin: 10.5px 0px;
    display: inline-block;
}
.logoCompany{
    height: 35px;   
}
