<div class="main-header page-full-width section-wrapper">
  <div class="main-header-content page-centered narrow-section">
  <nav class="no-padding  navbar navbar-expand-lg navbar-light navCustom container">
    <a class="navbar-brand" [routerLink]="['/']" queryParamsHandling="preserve">
      <img class="logoCompany" *ngIf="logoURL?.key ==='image'" src="{{logoURL.value}}" alt="dnNae-logo" />
      <span *ngIf="logoURL?.key==='name'"  class="myApp">{{logoURL?.value || 'DNNae'}}</span>
    </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    </div>
  </nav>
  </div>
</div>