<!-- Created by Affan Akhter -->
<!-- <div class="loading-shade" *ngIf="isLoadingResults">
    <div class="spinner-container">
      <mat-spinner></mat-spinner>
    </div>
  </div> -->
<div class="newJob newJD jobScreenWrapper">
  <app-job-stepper [stepperInput]="stepperData" [populate]="populateStepper"></app-job-stepper>
  <div class="inner-container">
    <mat-card>
      <div class="row center-align">
        <div class="col-md-12 title">
          <div class="backButton">
            <i
              class="material-icons"
              matTooltip="Back"
              [routerLink]="['/recruiter/companySpecialties', jobId, jdType]"
              queryParamsHandling="preserve"
            >
              arrow_back_ios
            </i>
            <!-- <span class="backText">Back</span> -->
          </div>
          <img class="logo" src="{{ globals.dnNaeLogo }}" alt="DNNae Logo" />
          <!-- <div>DNNae</div> -->
          <div class="sub-title">Required Experience</div>
          <div class="sub-title-guide">
            Rank the importance of experience required for this role using the slider
          </div>
        </div>

        <div class="row page-full-width noMargin">
          <div class="col-md-12">
            <!-- <form #form="ngForm" class="col-md-12"> -->

            <!-- Experience-->
            <div *ngFor="let experience of experience.data; let i = index">
              <div class="row">
                <div
                  class="form-group col-sm-11"
                  matTooltip="
                    {{
                    experience.disable && experience.name.length > 56 ? experience.name : null
                  }}"
                >
                  <!-- <label for="title"> write job description here.</label> -->
                  <input
                    autocomplete="off"
                    autofocus
                    required
                    type="text"
                    class="form-control"
                    [disabled]="experience.disable"
                    #industryDiff="ngModel"
                    name="industryDiff"
                    [(ngModel)]="experience.name"
                    placeholder="Example: 4 years of Machine Learning, 4 years of Software engineering"
                  />
                  <!-- errors -->
                  <div
                    class="form-control-feedback globar-error-text"
                    *ngIf="industryDiff.touched && industryDiff.invalid"
                  >
                    {{ industryDiff.errors.required ? 'Please provide required experience.' : '' }}
                  </div>
                </div>
                <!-- actions  -->
                <div class="issues-action col-sm-1 buttonsFlex-CreateJob">
                  <span *ngIf="false">
                    <button
                      class="btn btn-light has-icon mr-10"
                      *ngIf="experience.disable"
                      (click)="editFieldsEnable(experience, i)"
                    >
                      <i class="icon ion-md-create"></i>
                    </button>

                    <button
                      class="btn btn-primary-color has-icon mr-10"
                      *ngIf="!experience.disable"
                      [disabled]="!experience.name"
                      (click)="editFieldsEnable(experience, i)"
                    >
                      <i class="icon ion-md-checkmark"></i>
                    </button>
                  </span>

                  <button class="btn btn-light has-icon" (click)="delete(experience, i)">
                    <i class="icon ion-md-trash"></i>
                  </button>
                </div>
              </div>
              <!-- <div class="sliderOuter row marginAuto">
                <mat-slider
                  class="scoreSlider col-sm-9"
                  id="scoreSlider"
                  thumbLabel
                  tickInterval="auto"
                  min="0"
                  max="5"
                  value="{{ experience.score }}"
                  (input)="score($event, i)"
                >
                </mat-slider>
                <span class="col-sm-3 scoreText">{{ experience.scoreText }}</span>
              </div> -->
              <div class="sliderOuter row marginAuto">
                <ng5-slider
                  [(value)]="experience.score"
                  class="jobSliderCustoms"
                  *ngIf="experience.name"
                  (userChange)="score($event, i)"
                  [options]="options"
                ></ng5-slider>
              </div>
              <div class="hr-line-loop"></div>
            </div>

            <div class="row marginAuto no-padding mt-3">
              <button class="btn btn-primary-color save-btn col-sm-6" (click)="AddNewIndustry()">
                Add Experience
              </button>
              <button class="btn btn-primary-color save-btn col-sm-6" (click)="Next()">
                Next
              </button>
            </div>
            <!-- </form> -->
          </div>
        </div>
      </div>
    </mat-card>
  </div>
</div>
