@import '../../../../assets/styles/base.scss';
@import '../../../../assets/styles/font-face.scss';
.newJD{
    align-items: inherit !important;
    .title{
        font-size: 24px;
        font-weight: bold;
    }
    .sub-title{
        color: rgb(110, 113, 115);
        padding: 5px 0 10px 0;
    }
    .mat-card {
        background: #fff;
        color: rgba(0,0,0,.87) !important;
    }
    textarea.form-control {
        height: 65px !important;
    }
    .save-btn{
        width: 100%;
        border-radius: 10px;
    }
    .tAndc,.loginAnchor{
        color: $primary-color !important;
    }
    .loginOuter{
        margin-top: 20px;
        text-align:center; 
    }
    .matBox-custom{
        //   max-width: 30rem;
        width: 50%;
    }

}
@media (max-width: $breakpoint-medium) {
    .matBox-custom{
        width: 100%;
    }
}