<!-- Created by Affan Akhter -->
<div class="loading-shade" *ngIf="isLoadingResults">
  <div class="spinner-container">
    <mat-spinner></mat-spinner>
  </div>
</div>
<div class="newJob newJD">
  <div class="inner-container">
    <mat-card>
      <div class="row center-align">
        <div class="col-md-12 title">
          <!-- <img class="logo" src="../../../assets/download.png" alt="DNNae Logo"> -->
          <!-- <div>DNNae</div> -->
          <div>Create new job description</div>
        </div>
        <!-- <div class="col-md-12 form-container"> -->
        <!-- <message-list [messages]="messages"></message-list> -->
        <!-- <message-form [message]="message" [messages]="messages"></message-form> -->

        <!-- </div> -->
        <div class="row plr-10">
          <form #form="ngForm" class="col-md-12">
            <!-- form fields -->
            <div class="row">
              <!--first question title -->

              <div class="form-group col-md-12">
                <label for="title"> What is the job title of this new role?</label>
                <textarea
                  autocomplete="off"
                  required
                  type="text"
                  class="form-control"
                  [ngClass]="{ 'error-border': title.touched && title.invalid }"
                  #title="ngModel"
                  name="title"
                  [(ngModel)]="model.title"
                  placeholder="Your answer Here"
                >
                </textarea>
                <!-- errors -->
                <div
                  class="form-control-feedback globar-error-text"
                  *ngIf="title.touched && title.invalid"
                >
                  {{ title.errors.required ? 'Answer required.' : '' }}
                </div>
              </div>
              <!--second question experience -->

              <div class="form-group col-md-12">
                <label for="experience"> What type of work experience is required?</label>
                <textarea
                  autocomplete="off"
                  required
                  type="text"
                  class="form-control"
                  [ngClass]="{ 'error-border': experience.touched && experience.invalid }"
                  #experience="ngModel"
                  name="experience"
                  [(ngModel)]="model.experience"
                  placeholder="Your answer Here"
                >
                </textarea>
                <!-- errors -->
                <div
                  class="form-control-feedback globar-error-text"
                  *ngIf="experience.touched && experience.invalid"
                >
                  {{ experience.errors.required ? 'Answer required.' : '' }}
                </div>
              </div>
              <!--Third question techSkills -->

              <div class="form-group col-md-12">
                <label for="techSkills">
                  What specific technical skills are required for this position?</label
                >
                <textarea
                  autocomplete="off"
                  required
                  type="text"
                  class="form-control"
                  [ngClass]="{ 'error-border': techSkills.touched && techSkills.invalid }"
                  #techSkills="ngModel"
                  name="techSkills"
                  [(ngModel)]="model.techSkills"
                  placeholder="Your answer Here"
                >
                </textarea>
                <!-- errors -->
                <div
                  class="form-control-feedback globar-error-text"
                  *ngIf="techSkills.touched && techSkills.invalid"
                >
                  {{ techSkills.errors.required ? 'Answer required.' : '' }}
                </div>
              </div>
              <!--4th question education -->

              <div class="form-group col-md-12">
                <label for="education"> what are the education requirements?</label>
                <textarea
                  autocomplete="off"
                  required
                  type="text"
                  class="form-control"
                  [ngClass]="{ 'error-border': education.touched && education.invalid }"
                  #education="ngModel"
                  name="education"
                  [(ngModel)]="model.education"
                  placeholder="Your answer Here"
                >
                </textarea>
                <!-- errors -->
                <div
                  class="form-control-feedback globar-error-text"
                  *ngIf="education.touched && education.invalid"
                >
                  {{ education.errors.required ? 'Answer required.' : '' }}
                </div>
              </div>
              <!--5th question softSkills -->

              <div class="form-group col-md-12">
                <label for="softSkills"> How about soft skills required for this role?</label>
                <textarea
                  autocomplete="off"
                  required
                  type="text"
                  class="form-control"
                  [ngClass]="{ 'error-border': softSkills.touched && softSkills.invalid }"
                  #softSkills="ngModel"
                  name="softSkills"
                  [(ngModel)]="model.softSkills"
                  placeholder="Your answer Here"
                >
                </textarea>
                <!-- errors -->
                <div
                  class="form-control-feedback globar-error-text"
                  *ngIf="softSkills.touched && softSkills.invalid"
                >
                  {{ softSkills.errors.required ? 'Answer required.' : '' }}
                </div>
              </div>
              <!--6th question location -->

              <div class="form-group col-md-12">
                <label for="location"> Where will this position be located?</label>
                <textarea
                  autocomplete="off"
                  required
                  type="text"
                  class="form-control"
                  [ngClass]="{ 'error-border': location.touched && location.invalid }"
                  #location="ngModel"
                  name="location"
                  [(ngModel)]="model.location"
                  placeholder="Your answer Here"
                >
                </textarea>
                <!-- errors -->
                <div
                  class="form-control-feedback globar-error-text"
                  *ngIf="location.touched && location.invalid"
                >
                  {{ location.errors.required ? 'Answer required.' : '' }}
                </div>
              </div>
              <!--7th question responsibility -->

              <div class="form-group col-md-12">
                <label for="responsibility">
                  let’s quickly talk about responsibilities. What are the day to day
                  responsibilities?</label
                >
                <textarea
                  autocomplete="off"
                  required
                  type="text"
                  class="form-control"
                  [ngClass]="{ 'error-border': responsibility.touched && responsibility.invalid }"
                  #responsibility="ngModel"
                  name="responsibility"
                  [(ngModel)]="model.responsibility"
                  placeholder="Your answer Here"
                >
                </textarea>
                <!-- errors -->
                <div
                  class="form-control-feedback globar-error-text"
                  *ngIf="responsibility.touched && responsibility.invalid"
                >
                  {{ responsibility.errors.required ? 'Answer required.' : '' }}
                </div>
              </div>
              <!--8th question teamResponsibility -->

              <div class="form-group col-md-12">
                <label for="teamResponsibility">
                  Are there any responsibilities towards the team?
                </label>
                <textarea
                  autocomplete="off"
                  required
                  type="text"
                  class="form-control"
                  [ngClass]="{
                    'error-border': teamResponsibility.touched && teamResponsibility.invalid
                  }"
                  #teamResponsibility="ngModel"
                  name="teamResponsibility"
                  [(ngModel)]="model.teamResponsibility"
                  placeholder="Your answer Here"
                >
                </textarea>
                <!-- errors -->
                <div
                  class="form-control-feedback globar-error-text"
                  *ngIf="teamResponsibility.touched && teamResponsibility.invalid"
                >
                  {{ teamResponsibility.errors.required ? 'Answer required.' : '' }}
                </div>
              </div>
              <!--9th question salaryBenefits -->

              <div class="form-group col-md-12">
                <label for="salaryBenefits">
                  Last question, What are the salary and benefits for this position?</label
                >
                <textarea
                  autocomplete="off"
                  required
                  type="text"
                  class="form-control"
                  [ngClass]="{ 'error-border': salaryBenefits.touched && salaryBenefits.invalid }"
                  #salaryBenefits="ngModel"
                  name="salaryBenefits"
                  [(ngModel)]="model.salaryBenefits"
                  placeholder="Your answer Here"
                >
                </textarea>
                <!-- errors -->
                <div
                  class="form-control-feedback globar-error-text"
                  *ngIf="salaryBenefits.touched && salaryBenefits.invalid"
                >
                  {{ salaryBenefits.errors.required ? 'Answer required.' : '' }}
                </div>
              </div>

              <div class="col-md-12 no-padding mt-3">
                <button
                  class="btn btn-primary-color save-btn"
                  [disabled]="form.invalid"
                  (click)="submit()"
                >
                  Next
                </button>
              </div>
              <!-- <div class="form-group col-md-12 loginOuter">
                Already have an account?
                <a [routerLink]="['/login']" class="loginAnchor">Log in</a>
              </div> -->
            </div>
          </form>
        </div>
      </div>
    </mat-card>
  </div>
</div>
