<div class="loading-shade" *ngIf="isLoadingResults">
  <div class="spinner-container">
    <mat-spinner></mat-spinner>
  </div>
</div>
<mat-card class="matBox-custom container">
  <div class="row MorePadding">
    <div class="col-md-12 centered">
      <div class="title">Login</div>
      <img class="logo" src={{globals.dnNaeLogo}} alt="DNNae Logo" />
      <div class="sub-title">
       Please enter your Email Address. We will send an email to confirm
      </div>
      <div class="row plr-10">
        <form #form="ngForm" class="col-md-12">
          <!-- form fields for gmail-->
          <div class="row">
            <!-- Email Address -->

            <div class="form-group col-md-12">
              <!-- <label for="emailAddress">Email Address</label> -->

              <input
                autocomplete="off"
                required
                [pattern]="emailPattern"
                type="text"
                class="form-control"
                [ngClass]="{ 'error-border': email.touched && email.invalid }"
                #email="ngModel"
                name="email"
                [(ngModel)]="model.email"
                placeholder="Enter your Email"
              />

              <!-- errors -->
              <div
                class="form-control-feedback globar-error-text align-left"
                *ngIf="email.touched && email.invalid"
              >
                {{
                  email.errors.required
                    ? 'Email is required.'
                    : email.errors.pattern
                    ? 'Email is invalid'
                    : ''
                }}
              </div>
            </div>

            <div class="col-md-12 no-padding mt-3">
              <button
                class="btn btn-primary-color save-btn"
                [disabled]="form.invalid"
                (click)="submit()"
              >
                Login
              </button>
            </div>
            <div class="form-group col-md-12 loginOuter">
              Don't have an account?
              <a [routerLink]="['/traction/signup']" queryParamsHandling="preserve" class="loginAnchor">Sign Up</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</mat-card>
