.main-footer {
    // position: absolute;
    bottom: 0;
    width: 100%;
    height: 250px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    color: #7f838a;
    background: #ffffff;
    // footer background color: ;
}
.main-footer-text {
    text-align: center;
    padding: 40px 30px;
}

.main-footer a {
    color: #579eee;
    border-bottom: 1px solid #78b1f1;
    text-decoration: none;
}
.main-footer a:visited {
    color: #579eee;
}
.main-footer .image-link {
    display: inline-block;
    color: #7f838a;
    margin: 40px 0px;
}
.main-footer .image-link:hover, .main-footer .image-link:visited {
    color: #7f838a;
}
.main-footer a.image-link {
    border-bottom: none;
}
