@import '../../../../../assets/styles/base.scss';
@import '../../../../../assets/styles/variables.scss';
.newJD {
  align-items: inherit !important;
  .title {
    font-size: 24px;
    font-weight: bold;
  }
  .sub-title {
    margin: 15px 0 5px 0;
  }
  .sub-title-guide {
    font-size: 14px;
    font-weight: normal;
    margin: 0px 0 15px 0;
  }
  .sub-title-guide {
    font-size: 14px;
    font-weight: normal;
    margin: 0px 0 15px 0;
  }
  .mat-card {
    background: #fff;
    padding: 20px !important;
    // color: rgba(0,0,0,.87) !important;
  }
  .noMargin {
    margin: 0;
  }
  .marginAuto {
    margin: auto;
  }
  textarea.form-control {
    height: 45px !important;
  }
  .save-btn {
    width: 100%;
    border-radius: 10px;
  }
  .tAndc,
  .loginAnchor {
    color: $primary-color !important;
  }
  .loginOuter {
    margin-top: 20px;
    text-align: center;
  }
  .matBox-custom {
    //   max-width: 30rem;
    width: 50%;
  }
  .sliderOuter {
    // display: flex;
    // align-items: center;
    // justify-content: center;
    padding-top: 20px;
  }
  .scoreSlider {
    width: 80%;
    float: left;
  }
  .scoreText {
    color: #0b92f3;
    /* font-weight: 600; */
    font-size: 14px;
    text-align: center;
  }
  .degreeTitle {
    font-size: 18px;
    padding-bottom: 5px;
    text-align: center;
    border-bottom: 1px solid $btn-border-color;
    margin-bottom: 20px;
  }
  .customChipWrapper {
    min-height: 100px;
    background-color: transparent;
    color: $primary-color;
  }
  .customChipWrapper:hover,
  .customChipWrapper:focus {
    background-color: transparent !important;
    outline: none !important;
    box-shadow: none;
  }
  .mat-chip.mat-standard-chip::after {
    background: transparent;
  }
  .chipWrapper {
    width: 100%;
    justify-content: center;
    align-self: center;
    align-items: initial;
  }
  .hr-line-loop {
    margin: 10px 0 25px 0;
    border-bottom: 1px solid $btn-border-darker;
  }
  .degreePillChip {
    font-weight: 600;
    /* margin-left: 0; */
    padding-left: 5px;
    text-transform: capitalize;
  }
  .remove {
    margin-top: 10px;
  }
}
mat-slider {
  width: 400px;
}
@media (max-width: $breakpoint-medium) {
  .matBox-custom {
    width: 100%;
  }
}
