@import '../../../../assets/styles/base.scss';
@import '../../../../assets/styles/variables.scss';
mat-card {
  padding: 20px;
  // width: 50%;
}

input {
  border-radius: 10px;
}

.defaultRequestMessage {
  display: flex;
  justify-content: center;
  // align-items: center;
  height: 80vh;
  width: 100%;
}
.variableBtn {
  border-radius: 50px;
  margin-bottom: 5px;
}
.logo {
  width: 90px;
}
.center-align {
  width: 100%;
  margin: auto;
  justify-content: center;
}
.defaultRequestMessage .inner-container {
  width: 50%;
}
.width-100 {
  width: 100%;
}

mat-card .title {
  // font-family: "ubuntuBold";
  font-size: 24px;
  text-align: center;
}
.matBox-custom {
  //   max-width: 30rem;
  width: 50%;
}
textarea.extension {
  height: 160px !important;
}
textarea.web {
  height: 230px !important;
}
.save-btn {
  width: 100%;
  border-radius: 10px;
}
.characterLimit {
  float: right;
  color: $dnnae-color;
}
.characterLimitFull {
  color: $red;
}
@media (max-width: $breakpoint-medium) {
  .defaultRequestMessage .inner-container {
    width: 100%;
  }
}
