<!-- Created by Affan Akhter -->
<div class="loading-shade" *ngIf="isLoadingResults">
  <div class="spinner-container">
    <mat-spinner></mat-spinner>
  </div>
</div>
<div class="defaultRequestMessage">
  <div class="inner-container">
    <mat-card>
      <div class="row center-align" *ngIf="!showExtensionMessage">
        <div class="col-md-12 title" *ngIf="!comingFromExtension">
          <img class="logo" src="{{ globals.dnNaeLogo }}" alt="DNNae Logo" />
          <!-- <div>DNNae</div> -->
          <div>Connections Settings</div>
        </div>
        <div class="row width-100">
          <form #form="ngForm" class="col-md-12">
            <!-- form fields -->
            <div class="row">
              <!--connection message title -->
              <div class="form-group col-md-12">
                <label for="title"> Enter Connection message</label>
                <span
                  class="characterLimit"
                  [ngClass]="{ characterLimitFull: model?.title?.length === maxChars }"
                  >{{ model?.title?.length }}/{{ maxChars }}</span
                >
                <textarea
                  autocomplete="off"
                  required
                  [maxlength]="maxChars"
                  type="text"
                  class="form-control "
                  [ngClass]="{
                    'error-border': title.touched && title.invalid,
                    extension: comingFromExtension,
                    web: !comingFromExtension
                  }"
                  #title="ngModel"
                  #message
                  name="title"
                  [(ngModel)]="model.title"
                  placeholder=""
                >
                </textarea>
                <!-- errors -->
                <div
                  class="form-control-feedback globar-error-text"
                  *ngIf="title.touched && title.invalid"
                >
                  {{ title.errors.required ? 'Answer required.' : '' }}
                </div>
              </div>
              <div class="form-group col-md-12">
                <label for="title">
                  Customize connection message by choosing a tag and clicking in textbox</label
                >
              </div>
              <div>
                <button
                  class="btn btn-primary-color variableBtn col-sm-4"
                  (click)="addVariables(message, button)"
                  *ngFor="let button of messageData?.keywords"
                >
                  {{ '+ ' + button.replace('_', ' ') }}
                </button>
              </div>

              <div class="col-md-12 no-padding mt-3">
                <button
                  class="btn btn-primary-color save-btn"
                  [disabled]="form.invalid"
                  (click)="saveData()"
                >
                  Save
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <!-- <div class="row center-align align-center" *ngIf="showExtensionMessage">
          Thank you, your connect message has been saved. Please close this dialogue box to proceed.
      </div> -->
      <app-switch-to-extension *ngIf="showExtensionMessage"></app-switch-to-extension>
    </mat-card>
  </div>
</div>
