@import '../../../../assets/styles/base.scss';
mat-card {
    padding: 40px;
    // width: 50%;
}

input {
    border-radius: 10px;
}

.mainBot {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 100%;
}
.logo{
    width: 90px;
}
.center-align{
    width: 100%;
    margin: auto;
}
.mainBot .inner-container {
    width: 50%;
}

mat-card .title {
    // font-family: "ubuntuBold";
    font-size: 24px;
    text-align: center;
}

label {
    color: #9F9E9F;
}

.form-container {
    display: block;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}

@media (max-width: $breakpoint-medium) {
    .mainBot .inner-container {
        width: 100%;
    }
}