  <!-- Created by Affan Akhter -->
<div class="mainBot">
    <div class="inner-container">
      <mat-card>
        <div class="row center-align" *ngIf="!showExtensionMessage">
          <div class="col-md-12 title">
            <img class="logo" src={{globals.dnNaeLogo}} alt="DNNae Logo">
            <!-- <div>DNNae</div> -->
            <div>Hi! I am your personal assistant. What can I help you with today?</div>
          </div>
          <div class="col-md-12 form-container">
              <!-- <message-list [messages]="messages"></message-list>
              <app-buttons [buttons]="buttons"></app-buttons>
              <message-form [message]="message" [messages]="messages"></message-form> -->
              <button class="col-md-3 btn btn-primary-color" [routerLink]="['/recruiter/newJob']" queryParamsHandling="preserve"> New Job </button>
              <button class="col-md-3 btn btn-primary-color" [routerLink]="['/recruiter/jobs']" queryParamsHandling="preserve"> Jobs </button>
              <button class="col-md-3 btn btn-primary-color" [routerLink]="['/recruiter/settings','All']" queryParamsHandling="preserve"> Settings </button>
              <button class="col-md-3 btn btn-primary-color" [routerLink]="['/recruiter/prospects','All']" queryParamsHandling="preserve"> Prospects</button>
            </div>
        </div>
        <app-switch-to-extension *ngIf="showExtensionMessage"></app-switch-to-extension>
      </mat-card>
    </div>
  </div>