<!-- Created by Affan Akhter -->
<div class="recruiter-home">
  <div class="inner-container">
    <mat-card>
      <div class="row center-align">
        <div class="col-md-12 title">
          <img class="logo" src={{globals.dnNaeLogo}} alt="DNNae Logo">
          <div>DNNae</div>
          <div>Your personal founder</div>
        </div>
        <div class="col-md-12 form-container">
          <button class="btn btn-primary-color create-account"
          [routerLink]="['/founder/signup']" 
          queryParamsHandling="preserve">Create Account</button>
          <!-- back to login -->
          <div class="form-group accountLogin text-center">
            <p>Already have an account? 
              <span>
                <a [routerLink]="['/founder/login']" >Login</a>
              </span>
            </p>
            <!-- <a [routerLink]="[ '../../login' ]">Back to Login?</a> -->
          </div>
        </div>
      </div>
    </mat-card>
  </div>
</div>