@import '../../../../assets/styles/base.scss';
@import '../../../../assets/styles/variables.scss';
mat-card {
  padding: 20px;
  // width: 50%;
}
.jobList {
  display: flex;
  justify-content: center;
  // align-items: center;
  height: 80vh;
  width: 100%;
}
.subTitle {
  margin: 15px 0 15px 0;
}
.aboutLabel {
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
}
.dot {
  height: 15px;
  width: 15px;
  background-color: #1cab34;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
  margin-top: -1.5px;
}
.formateText {
  white-space: pre-line;
}
.smallCategoryLabel {
  font-size: 14px;
  line-height: 1.4;
  color: $secondary-color;
  letter-spacing: 1px;
  text-transform: uppercase;
  /* font: normal 700 24px/1.4 Arial; */
  /* font-size: 24px; */
  letter-spacing: 1px;
  font-weight: 700;
}
a {
  color: $secondary-color;
}
.hr-line {
  margin: 20px 0 20px 0;
  border-bottom: 1px solid $btn-border-color;
}
.rightMargin {
  margin-right: 15px;
}
.jobTitle {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  /* font: normal 400 36px/1.4 Arial; */
  /* font-weight: 400; */
  color: $primary-color !important;
  text-transform: none;
  letter-spacing: 0px;
  cursor: pointer;
  padding-left: 0;
  text-transform: capitalize;
}
.details-button {
  height: 40px;
  cursor: pointer;
}
.alignCenter {
  align-items: center;
  padding-bottom: 6px;
}
.logo {
  width: 90px;
}
.center-align {
  width: 100%;
  margin: auto;
}
.jobList .inner-container {
  width: 50%;
}
.shareLink {
  padding-top: 20px;
  font-size: 16px;
  font-weight: 600;
}
.copyToClipBoard {
  cursor: pointer;
  margin-left: 10px;
  margin-top: 15px;
  color: $dnnae-color;
}
mat-card .title {
  // font-family: "ubuntuBold";
  font-size: 24px;
  text-align: center;
}

@media (max-width: $breakpoint-medium) {
  .jobList .inner-container {
    width: 100%;
  }
}
