<!-- Created by Affan Akhter -->
<div class="loading-shade" *ngIf="isLoadingResults">
  <div class="spinner-container">
    <mat-spinner></mat-spinner>
  </div>
</div>
<div class="jobList">
  <div class="inner-container">
    <mat-card>
      <div class="row center-align">
        <div class="col-md-12 title">
          <img class="logo" src="{{ globals.dnNaeLogo }}" alt="DNNae Logo" />
          <!-- <div>DNNae</div> -->
          <div class="subTitle">Job Description</div>
        </div>

        <div class="col-sm-12">
          <div class="row">
            <h3 class="jobTitle col-sm-10">{{ job?.jobTitle }}</h3>
          </div>
          <div>
            <div class="row alignCenter">
              <span class="dot"></span>
              <div>{{ job?.jobStatus }}</div>
              <!-- <div>{{job.updatedAt}}</div> -->
            </div>

            <div class="row">
              <div class="rightMargin smallCategoryLabel">{{ job?.jobType }}</div>
              <div class="rightMargin smallCategoryLabel">{{ job?.jobLocation }}</div>
              <div class="rightMargin smallCategoryLabel">{{ job?.companyName }}</div>
            </div>
            <div class="row">
              <div>
                <span class="shareLink">Share Job Link </span>
                <i
                  class="material-icons copyToClipBoard "
                  (click)="copyText(job.jobLink)"
                  matTooltip=" Click here to copy jobLink"
                  matTooltipPosition="right"
                  [matTooltipClass]="'customToolTip'"
                >
                  file_copy
                </i>
              </div>
              <a id="shareJobLink" target="_blank" [href]="sanitize(job.jobLink)">{{
                job?.jobLink
              }}</a>
            </div>
            <div class="hr-line"></div>
            <div class="page-full-width">
              <div class="formateText" *ngIf="job.jdType !== 'qa'">
                <div class="" innerHTML="{{ job.jdText }}"></div>
              </div>
              <div *ngIf="job.jdType == 'qa'">
                <div class="" *ngFor="let jobData of job?.jobDescription">
                  <div *ngIf="jobData.tag !== 'COMPANY_INDUSTRY_SPECIALTIES'">
                    <div
                      class=""
                      *ngIf="
                        jobData.tag !== 'COMPANY_INDUSTRY_SPECIALTIES' &&
                        jobData.tag !== 'COMPANY_NAME'
                      "
                    >
                      <span class="aboutLabel" *ngIf="jobData?.data?.length > 0">{{
                        jobData?.title
                      }}</span>
                    </div>
                    <div *ngFor="let descriptionData of jobData?.data">
                      <div>
                        {{ descriptionData }}
                      </div>
                    </div>
                    <div *ngIf="jobData?.title && jobData?.data?.length > 0" class="hr-line"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-card>
  </div>
</div>
