@import './../../../../../assets/styles/base.scss';
@import './../../../../../assets/styles/variables.scss';
.wrapper {
  min-width: 265px;
  /* font-family: "Helvetica"; */
  font-size: 14px;
  /* border: 1px solid #ccc;*/
}

.StepProgress {
  position: fixed;
  padding-left: 45px;
  list-style: none;
  margin-top: 40px;

  &::before {
    display: inline-block;
    content: '';
    position: absolute;
    top: 10px;
    left: 20px;
    width: 10px;
    height: 90%;
    border-left: 2px solid $teritary-color;
  }

  &-item {
    position: relative;
    counter-increment: list;
    padding-bottom: 30px;
    padding-top: 5px;

    &:not(:last-child) {
      // padding-bottom: 30px;
      // padding-top: 5px;
    }

    &::before {
      display: inline-block;
      content: '';
      position: absolute;
      left: -25px;
      top: 5px;
      height: 100%;
      width: 10px;
    }

    &::after {
      content: '';
      display: inline-block;
      position: absolute;
      top: 5px;
      left: -37px;
      width: 25px;
      height: 25px;
      border: 2px solid $teritary-color;
      border-radius: 50%;
      background-color: $white;
    }

    &.is-done {
      &:not(:last-child)::before {
        border-left: 2px solid $dnnae-color;
      }
      &::after {
        content: '✔';
        font-size: 18px;
        line-height: 1.3;
        color: $white;
        text-align: center;
        border: 2px solid $dnnae-color;
        background-color: $dnnae-color;
      }
    }
    &.pointer {
      cursor: pointer !important;
    }
    &.notAllowed {
      cursor: not-allowed;
      // pointer-events: none;
    }
    &.noPointer {
      // cursor: not-allowed;
      pointer-events: none;
    }

    &.current {
      &:not(:last-child)::before {
        border-left: 2px solid $dnnae-color;
      }

      &::after {
        content: counter(list);
        padding-top: 1px;
        width: 25px;
        height: 24px;
        line-height: 1.5;
        top: 5px;
        left: -37px;
        font-size: 14px;
        text-align: center;
        color: $dnnae-color;
        border: 2px solid $dnnae-color;
        background-color: $white;
      }
    }
  }

  strong {
    display: block;
  }
}
