@import '../../../../assets/styles/base.scss';
@import '../../../../assets/styles/variables.scss';
mat-card {
  padding: 10px;
  // width: 50%;
}
.messages {
  display: flex;
  justify-content: center;
  // align-items: center;
  height: 80vh;
  width: 100%;
}
.forwardOuter {
  align-items: center;
  display: flex;
}
.subTitle {
  margin: 15px 0 15px 0;
}
a {
  color: $secondary-color;
}
.hr-line {
  margin: 10px 0 10px 0;
  border-bottom: 1px solid $btn-border-color;
}
.jobTitle {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  /* font: normal 400 36px/1.4 Arial; */
  /* font-weight: 400; */
  color: $primary-color !important;
  text-transform: none;
  letter-spacing: 0px;
  cursor: pointer;
}
.alignCenter {
  align-items: center;
}
.logo {
  width: 90px;
}
.center-align {
  width: 100%;
  margin: auto;
}
.messages .inner-container {
  width: 50%;
}
.prospectImage {
  width: 120px;
}
.name {
  display: flex;
  align-items: center;
}
.skillsListing {
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: pre-line;
  overflow: auto;
}
.dummyProspectWrapper{
  cursor: pointer;
}
mat-card .title {
  // font-family: "ubuntuBold";
  font-size: 24px;
  text-align: center;
}

@media (max-width: $breakpoint-medium) {
  .messages .inner-container {
    width: 100%;
  }
}
