<div class="loading-shade" *ngIf="isLoadingResults">
  <div class="spinner-container">
    <mat-spinner></mat-spinner>
  </div>
</div>
<app-header [logoURL]="{ key: 'name', value: '' }"></app-header>
<div class="content-wrapper list-page">
  <div class="content">
    <div class="section-wrapper page-full-width">
      <div class="section page-centered postings-group">
        <div class="posting-category-title large-category-label">
          <!-- <span>{{jobsData.companyField}}</span> -->
        </div>
        <!-- <div class="horizontal-line"></div> -->
        <div *ngIf="jobs?.length > 0">
          <div class="jobs row" *ngFor="let jobData of jobs" (click)="goto(jobData)">
            <div class="col-10 posting">
              <h5 class="title">{{ jobData.jobTitle }}</h5>
              <div class="posting-categories">
                <span class="posting-category small-category-label">{{
                  jobData.companyName || ''
                }}</span>
                <span class="posting-category small-category-label">{{
                  jobData.jobLocation || ''
                }}</span>
                <!-- <span class="posting-category small-category-label">{{jobData.jobField}}</span> -->
                <span class="posting-category small-category-label">{{
                  jobData.jobType || ''
                }}</span>
              </div>
            </div>
            <div class="col-sm-2">
              <button
                class="posting-btn-submit template-btn-submit cerulean posting-apply"
                type="button"
              >
                Details
              </button>
            </div>
          </div>
        </div>
        <div *ngIf="jobs?.length == 0 && !isLoadingResults">
          <h3 class="center">No Jobs found</h3>
        </div>
      </div>
    </div>
  </div>
</div>
