.content {
    position: relative;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    min-height: 100%;
    .postings-group {
        margin-top: 40px;
    }
    .horizontal-line {
        margin-left: 0px;
    }
    .posting {
        display: inline-block;
        position: relative;
        width: 100%;
        margin: 10px 0;
    }
    .title, .title:visited{
        color: #737578;
    }
    .posting .posting-categories {
        height: 30px;
        vertical-align: top;
    }
    .posting .posting-category {
        display: inline-block;
        margin-right: 15px;
    }
    .posting-apply {
        min-width: 100px;
        float: right;
    }
    .jobs:hover h5 {
        color: #579eee !important;
    }
    .jobs:hover {
        cursor: pointer;
    }
    .center{
        text-align: center;
    }
}