<!-- Created by Affan Akhter -->
<!-- <div class="loading-shade" *ngIf="isLoadingResults">
    <div class="spinner-container">
      <mat-spinner></mat-spinner>
    </div>
  </div> -->
<div class="newJob newJD jobScreenWrapper">
  <app-job-stepper [stepperInput]="stepperData" [populate]="populateStepper"></app-job-stepper>
  <div class="inner-container">
    <mat-card>
      <div class="row center-align">
        <div class="col-md-12 title">
          <div class="backButton">
            <i
              class="material-icons"
              matTooltip="Back"
              [routerLink]="['/recruiter/companyName', jobId, jdType]"
              queryParamsHandling="preserve"
            >
              arrow_back_ios
            </i>
            <!-- <span class="backText">Back</span> -->
          </div>
          <img class="logo" src="{{ globals.dnNaeLogo }}" alt="DNNae Logo" />
          <!-- <div>DNNae</div> -->
          <div class="sub-title">Industry Experience</div>
          <div class="sub-title-guide align-left">
            <div>
              <b>1.</b> List out any specific Industries (1 per line) whose experience is a nice to have,
              important or must have.
            </div>
            <div><b>2.</b> Rank the importance of that industry experience using slider.</div>
          </div>
        </div>

        <div class="row page-full-width noMargin">
            <div class="col-md-12">
              <div class="form-group">
                <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                  <mat-option *ngFor="let ind of filteredIndustries | async" [value]="ind">
                    {{ ind }}
                  </mat-option>
                </mat-autocomplete>
                <mat-chip-list #chipList aria-label="Fruit selection">
                  <input
                    placeholder="Example: Semiconductors"
                    #fruitInput
                    class="form-control"
                    [formControl]="industryCtrl"
                    [matAutocomplete]="auto"
                    [matChipInputFor]="chipList"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                    [matChipInputAddOnBlur]="addOnBlur"
                    (matChipInputTokenEnd)="add($event)"
                    (keyup.enter)="chooseFirstOption()"
                  />
                  <div *ngFor="let industry of sampleObj.data; let i = index" class="fullWidth">
                    <mat-chip
                      class="form-control row customChipWrapper"
                      *ngIf="industry.name"
                      [removable]="removable"
                      (removed)="remove(industry)"
                    >
                      <div class="row chipWrapper">
                        <div class="col-sm-11 degreePillChip">
                          {{ industry.name }}
                        </div>
                        <div class="col-sm-11 sliderOuter">
                          <!-- <div class="sliderOuter row marginAuto">
                            <mat-slider
                              class="scoreSlider col-sm-9"
                              id="scoreSlider"
                              tickInterval="auto"
                              min="0"
                              max="5"
                              value="{{ industry.score }}"
                              (input)="score($event, i)"
                            >
                            </mat-slider>
                            <span class="col-sm-3 scoreText">{{ industry.scoreText }}</span>
                          </div> -->
                          <ng5-slider
                            [(value)]="industry.score"
                            class="jobSliderCustoms"
                            *ngIf="industry.name"
                            (userChange)="score($event, i)"
                            [options]="options"
                          ></ng5-slider>
                        </div>
                        <mat-icon matChipRemove class="remove" *ngIf="removable">cancel</mat-icon>
                      </div>
                    </mat-chip>
                  </div>
                </mat-chip-list>
              </div>
  
              <div class="row marginAuto no-padding mt-3">
                <!-- <button
                    class="btn btn-primary-color save-btn col-sm-4"
                    (click)="AddNew('DegreeMajor')"
                  >
                    Add Major
                  </button>
                  <button class="btn btn-primary-color save-btn col-sm-4" (click)="AddNew('Degree')">
                    Add Degree
                  </button> -->
                <button class="btn btn-primary-color save-btn col-sm-12" (click)="Next()">
                  Next
                </button>
              </div>
            </div>
          </div>
      </div>
    </mat-card>
  </div>
</div>
