<div class="loading-shade" *ngIf="isLoadingResults">
  <div class="spinner-container">
      <mat-spinner></mat-spinner>
  </div>
</div>
<app-header *ngIf="singleJobData" [logoURL]="{key:'name', value: singleJobData.companyName}"></app-header>
<div class="content-wrapper list-page">
<div class="application" *ngIf="singleJobData">
  <div class="section-wrapper accent-section page-full-width">
    <div class="section page-centered posting-header">
      <div class="jobs row">
        <div class="col-12 posting">
          <h2 class="title">{{singleJobData.jobTitle}}</h2>
          <div class="posting-categories">
            <span class="posting-category medium-category-label">{{singleJobData.companyName}}</span>
            <span class="posting-category medium-category-label">{{singleJobData.jobLocation}}</span>
            <span class="posting-category medium-category-label">{{singleJobData.jobType}}</span>
          </div>
        </div>
    </div>
  </div>
</div>
<div class="section-wrapper page-full-width">
  <div class="section page-centered posting-header">
    <div class="jobs row">
      <div class="col-12 posting">
        <h4 class="titleApply">Apply to this job</h4>
        <form [formGroup]="applyJob" class="login-container row" (ngSubmit)="onSubmit()">
          
          <label class="col-4 application-label pt0">Resume/CV</label>
          <div class="col-8">
              <input type="file" accept="application/pdf" (change)="onFileChange($event)">
          </div>

          <label class="col-4 application-label">Full name 
            <span class="required">✱</span>
          </label>
          <div class="col-8">
            <input type="text" placeholder="" formControlName="name"
              [ngClass]="{ 'has-error': isSubmitted && formControls.name.errors }">
        
            <div *ngIf="isSubmitted && formControls.name.errors" class="help-block">
              <div *ngIf="formControls.name.errors.required">Full name required</div>
            </div> 
          </div>
          
          <label class="col-4 application-label">Email
             <span class="required">✱</span>
          </label>
          <div class="col-8">
            <input type="email" placeholder="" formControlName="emailAddress"
              [ngClass]="{ 'has-error': isSubmitted && formControls.emailAddress.errors }">
        
            <div *ngIf="isSubmitted && formControls.emailAddress.errors" class="help-block">
              <div *ngIf="formControls.emailAddress.errors.required">Email is required</div>
              <div *ngIf="formControls.emailAddress.errors.pattern">Invalid Email</div>
            </div>
          </div>

          <label class="col-4 application-label">Cell Phone Number 
            <span class="required">✱</span> 
          </label>
          <div class="col-8">
            <input type="text" placeholder="" formControlName="phoneNumber"
              [ngClass]="{ 'has-error': isSubmitted && formControls.phoneNumber.errors }">
        
            <div *ngIf="isSubmitted && formControls.phoneNumber.errors" class="help-block">
              <div *ngIf="formControls.phoneNumber.errors.required">Phone number is required</div>
              <div *ngIf="formControls.phoneNumber.errors.pattern">Invalid Phone number</div>

            </div>
          </div>
            <label class="col-4 application-label">LinkedIn URL</label>
            <div class="col-8">
                <input  type="url" placeholder="" formControlName="linkedinUrl">
            </div>
        
            <p class="buttonWrapper">
            <button class="template-btn-submit cerulean" type="submit">SUBMIT</button>
            </p>
          </form>
      </div>
  </div>
</div>
</div>
</div>
<div *ngIf="!singleJobData && !isLoadingResults">
  <h3 class="center">JOb not found</h3>
  </div>
</div>