.application {
    position: relative;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    min-height: 100%;
    .posting {
        display: inline-block;
        position: relative;
        width: 100%;
        margin: 10px 0;
    }
    .posting-header h2 {
        margin-top: 0px;
        font-size: 36px;
        text-transform: capitalize;
    }

    .title, .title:visited{
        color: #737578;
    }
    .titleApply{
        margin: 40px 0;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: #515357;
        font-size: 16px;
        font-weight: 700;
    }
    
    .accent-section .posting-categories {
        margin: 20px 0px;
    }
    .posting .posting-categories {
        height: 30px;
        vertical-align: top;
    }
    .posting .posting-category {
        display: inline-block;
        margin-right: 15px;
    }
    .application-label {
        font-size: 16px;
        line-height: 1.4;
        vertical-align: middle;
        padding-top: 10px;
        width: 100%;
        margin: 17.5px 0;
    }
    input[type=text], input[type=email], input[type=url] {
        -webkit-border-radius: 3px;
        border-radius: 3px;
        border-width: 1px;
        border-style: solid;
        height: 40px;
        padding: 4px 4px 4px 15px;
        font-size: 16px;
        line-height: 1.4;
        margin: 17.5px 0;
        border-color: #e2e2e2;
        color: #515357;
        // font: normal 400 16px/1.8 Arial;
        font-size: 16px;
        text-transform: none;
        letter-spacing: 0;
        width: 100%;
    }
    input[type=text]:active, input[type=email]:active, input[type=url]:active,
    input[type=text]:focus, input[type=email]:focus, input[type=url]:focus {
        outline: none;
        border-color: #7f838a;
    }
    input[type=file]{
        line-height: 1.2;
    }
    .pt0{
        padding-top: 0 !important;
    }
    .buttonWrapper{
        text-align: center;
        margin: auto;
        margin: 17.5px auto;
    }
}
.center{
    text-align: center;
}

@media screen and (min-width: 800px){
    .application .application-field {
        padding-left: 15px;
        width: 489px;
    }
}
