<!-- Created by Affan Akhter -->
<div class="loading-shade" *ngIf="isLoadingResults">
  <div class="spinner-container">
    <mat-spinner></mat-spinner>
  </div>
</div>
<div class="jobList">
  <div class="inner-container">
    <mat-card>
      <div class="row center-align">
        <div class="col-md-12 title">
          <img class="logo" src="{{ globals.dnNaeLogo }}" alt="DNNae Logo" />
          <!-- <div>DNNae</div> -->
          <div class="subTitle">Prospect's Details</div>
        </div>

        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-3">
              <img
                src="{{ prospect.picture || globals.defaultImage }}"
                class="rounded-circle img-thumbnail"
                alt="{{ prospect.full_name }} picture"
              />
            </div>
            <div class="col-sm-9">
              <h3 class="jobTitle name">
                {{ prospect.full_name }}
                <sup class="degree"> {{ prospect?.connection_degree || '' }}</sup>
              </h3>
              <div class="alignCenter">
                <div class="skillsListing">{{ prospect.headline }}</div>
                <div class="locality">{{ prospect.locality }}</div>
                <div>
                  <span class="prospectFor">prospect for: </span> {{ prospect.job.jobTitle }}
                </div>
              </div>
            </div>
          </div>
          <div class="row buttonsOuter">
            <a href="{{ prospect.profileUrl }}" target="_blank">
              <button class="btn btn-primary-color">Visit LinkedIn</button>
            </a>
          </div>
          <!-- Score -->
          <div class="scoreOuter">
            <span *ngIf="!prospect.score">
              <span class="prospectFor">Score: </span>
              {{ (prospect?.score?.final_score | number: '1.2-2') || 0 }} / 50
            </span>
            <div class="row">
              <mat-accordion
                class="width-100perc scoreExp col-sm-11"
                *ngIf="prospect.score"
                id="score"
              >
                <!--------------------------------------------------------User breakDown Details------------------------------------------------------------- -->
                <mat-expansion-panel id="userScore" [expanded]="true">
                  <!-- header panel -->
                  <mat-expansion-panel-header class="panel-parent">
                    <span class="panel-title">
                      <span class="prospectFor">Score: </span>
                      {{ (prospect?.score?.final_score | number: '1.2-2') || 0 }} / 50
                    </span>
                  </mat-expansion-panel-header>

                  <!-- <div *ngFor="let item of prospect.score | keyvalue"> -->

                  <!-- Education -->
                  <div *ngIf="prospect?.score?.education_total > 0">
                    <div class="row">
                      <div class="col-sm-12 scoreLabel">
                        Education:
                        <span>
                          ( {{ (prospect?.score?.education_score | number: '1.2-2') || 0 }}
                          /
                          {{ prospect?.score?.education_total || 0 }} )
                        </span>
                      </div>
                      <div class="col-sm-12">
                        <div class="progress">
                          <div
                            class="progress-bar"
                            [style.width.%]="
                              calcPercentage(
                                prospect.score.education_score,
                                prospect.score.education_total
                              )
                            "
                          >
                            {{
                              (prospect.score.education_score /
                                (prospect.score.education_total || 0.1)) *
                                100 | number: '1.2-2'
                            }}
                            %
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="hr-line"></div>
                  </div>
                  <!-- Experience -->
                  <div *ngIf="prospect?.score?.experience_total > 0">
                    <div class="row">
                      <div class="col-sm-12 scoreLabel">
                        Experience:
                        <span>
                          ( {{ (prospect?.score?.experience_score | number: '1.2-2') || 0 }}
                          /
                          {{ prospect?.score?.experience_total || 0 }} )
                        </span>
                      </div>
                      <div class="col-sm-12">
                        <div class="progress">
                          <div
                            class="progress-bar"
                            [style.width.%]="
                              calcPercentage(
                                prospect.score.experience_score,
                                prospect.score.experience_total
                              )
                            "
                          >
                            {{
                              (prospect.score.experience_score /
                                (prospect.score.experience_total || 0.1)) *
                                100 | number: '1.2-2'
                            }}
                            %
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="hr-line"></div>
                  </div>
                  <!-- Skills -->
                  <div *ngIf="prospect?.score?.skill_total > 0">
                    <div class="row">
                      <div class="col-sm-12 scoreLabel">
                        Skills:
                        <span>
                          ( {{ (prospect?.score?.skill_score | number: '1.2-2') || 0 }}
                          /
                          {{ prospect?.score?.skill_total || 0 }} )
                        </span>
                      </div>
                      <div class="col-sm-12">
                        <div class="progress">
                          <div
                            class="progress-bar"
                            [style.width.%]="
                              calcPercentage(prospect.score.skill_score, prospect.score.skill_total)
                            "
                          >
                            {{
                              (prospect.score.skill_score / (prospect.score.skill_total || 0.1)) *
                                100 | number: '1.2-2'
                            }}
                            %
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="hr-line"></div>
                  </div>
                  <!-- Industry -->
                  <div *ngIf="prospect?.score?.industry_total > 0">
                    <div class="row">
                      <div class="col-sm-12 scoreLabel">
                        Industry:
                        <span>
                          ( {{ (prospect?.score?.industry_score | number: '1.2-2') || 0 }}
                          /
                          {{ prospect?.score?.industry_total || 0 }} )
                        </span>
                      </div>
                      <div class="col-sm-12">
                        <div class="progress">
                          <div
                            class="progress-bar"
                            [style.width.%]="
                              calcPercentage(
                                prospect.score.industry_score,
                                prospect.score.industry_total
                              )
                            "
                          >
                            {{
                              (prospect.score.industry_score /
                                (prospect.score.industry_total || 0.1)) *
                                100 | number: '1.2-2'
                            }}
                            %
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="hr-line"></div>
                  </div>

                  <!-- Score breakDown ends -->
                </mat-expansion-panel>
              </mat-accordion>
              <i
                class="material-icons col-md-1 infoCenter"
                matTooltip="Score Details"
                [matTooltipClass]="'customToolTip'"
                [ngbPopover]="scorePopContent"
                popoverTitle="Score Description"
                container="body"
                popoverClass="infoClass"
              >
                info
              </i>
              <ng-template #scorePopContent>
                <!-- scores -->
                <div class="row">
                  <div class="col-sm-12 scoreLabelCard">
                    <span class="panel-title">
                      <span class="prospectFor">Total Score: </span>
                      ( {{ (prospect?.score?.final_score | number: '1.2-2') || 0 }} / 50 )
                    </span>
                  </div>
                  <div
                    class="col-sm-12 scoreLabelCard"
                    *ngIf="prospect?.score?.education_total > 0"
                  >
                    <span class="prospectFor">Education:</span>
                    <span>
                      (
                      {{ (prospect?.score?.education_score | number: '1.2-2') || 0 }}
                      /
                      {{ prospect?.score?.education_total || 0 }} )
                    </span>
                  </div>
                  <div
                    class="col-sm-12 scoreLabelCard"
                    *ngIf="prospect?.score?.experience_total > 0"
                  >
                    <span class="prospectFor">Experience:</span>
                    <span>
                      (
                      {{ (prospect?.score?.experience_score | number: '1.2-2') || 0 }}
                      /
                      {{ prospect?.score?.experience_total || 0 }} )
                    </span>
                  </div>
                  <div class="col-sm-12 scoreLabelCard" *ngIf="prospect?.score?.skill_total > 0">
                    <span class="prospectFor">Skills:</span>
                    <span>
                      ( {{ (prospect?.score?.skill_score | number: '1.2-2') || 0 }}
                      /
                      {{ prospect?.score?.skill_total || 0 }} )
                    </span>
                  </div>
                  <div class="col-sm-12 scoreLabelCard" *ngIf="prospect?.score?.industry_total > 0">
                    <span class="prospectFor">Industry:</span>
                    <span>
                      ( {{ (prospect?.score?.industry_score | number: '1.2-2') || 0 }}
                      /
                      {{ prospect?.score?.industry_total || 0 }} )
                    </span>
                  </div>
                  <div class="hr-line fullWidth"></div>
                </div>
                <!-- penalizing  percentages-->
                <div class="row">
                  <div class="col-sm-12">
                    <span class="prospectFor">title match score boost:</span>
                    <span> {{ prospect?.score?.adjustment_factor }}% </span>
                  </div>
                  <div class="hr-line fullWidth"></div>
                </div>
                <!-- education Required -->
                <div class="row">
                  <label class="col-sm-12 scoreDes_label">Education required: </label>
                  <ol class="col-sm-12">
                    <li *ngFor="let edu_req of prospect.score.education_required">
                      <span *ngIf="edu_req">{{ edu_req }}.</span>
                    </li>
                    <li>
                      <span
                        *ngIf="
                          !prospect?.score?.education_required ||
                          prospect?.score?.education_required?.length == 0
                        "
                        >No requirements found in job description</span
                      >
                    </li>
                  </ol>
                  <div class="hr-line fullWidth"></div>
                </div>
                <!-- Education Found -->
                <div class="row">
                  <label class="col-sm-12 scoreDes_label">Education found: </label>
                  <ol class="col-sm-12">
                    <li *ngFor="let edu_found of prospect.score.education_profile">
                      <span *ngIf="edu_found">{{ edu_found }}.</span>
                    </li>
                    <li>
                      <span
                        *ngIf="
                          !prospect?.score?.education_profile ||
                          prospect?.score?.education_profile?.length == 0
                        "
                        >No similar education found in the prospect's profile</span
                      >
                    </li>
                  </ol>
                  <div class="hr-line fullWidth"></div>
                </div>

                <!-- Experience required-->
                <div class="row">
                  <label class="col-sm-12 scoreDes_label">Experience required: </label>
                  <ol class="col-sm-12">
                    <li *ngFor="let exp_req of prospect.score.experience_required">
                      <span *ngIf="exp_req">{{ exp_req }}.</span>
                    </li>
                    <li>
                      <span
                        *ngIf="
                          !prospect?.score?.experience_required ||
                          prospect?.score?.experience_required?.length == 0
                        "
                        >No experience found in job description</span
                      >
                    </li>
                  </ol>
                  <div class="hr-line fullWidth"></div>
                </div>
                <!-- Experience found-->
                <div class="row">
                  <label class="col-sm-12 scoreDes_label">Experience Found: </label>
                  <ol class="col-sm-12">
                    <li *ngFor="let exp_found of prospect.score.experience_found">
                      <span *ngIf="exp_found">{{ exp_found }}.</span>
                    </li>
                    <li>
                      <span
                        *ngIf="
                          !prospect.score.experience_found ||
                          prospect?.score?.experience_found?.length == 0
                        "
                        >No closest experience found</span
                      >
                    </li>
                  </ol>
                  <div class="hr-line fullWidth"></div>
                </div>

                <!-- industry experience required-->
                <div class="row">
                  <label class="col-sm-12 scoreDes_label">Industry Experience required: </label>
                  <ol class="col-sm-12">
                    <li *ngFor="let ind_req of prospect.score.industries_required">
                      <span *ngIf="ind_req">{{ ind_req }}.</span>
                    </li>
                    <li>
                      <span
                        *ngIf="
                          !prospect?.score?.industries_required ||
                          prospect?.score?.industries_required?.length == 0
                        "
                        >No industry experience found in job description</span
                      >
                    </li>
                  </ol>
                  <div class="hr-line fullWidth"></div>
                </div>
                <!-- industry experience found-->
                <div class="row">
                  <label class="col-sm-12 scoreDes_label">Industry Experience Found: </label>
                  <ol class="col-sm-12">
                    <li *ngFor="let ind_found of prospect.score.industries_profile">
                      <span *ngIf="ind_found">{{ ind_found }}.</span>
                    </li>
                    <li>
                      <span
                        *ngIf="
                          !prospect?.score?.industries_profile ||
                          prospect?.score?.industries_profile?.length == 0
                        "
                        >No closest industry experience found</span
                      >
                    </li>
                  </ol>
                  <div class="hr-line fullWidth"></div>
                </div>
                <!-- skills required -->
                <div class="row">
                  <label class="col-sm-12 scoreDes_label">Skills Required: </label>
                  <ol class="col-sm-12">
                    <li *ngFor="let skills_req of prospect.score.skills_required">
                      <span *ngIf="skills_req">{{ skills_req }}.</span>
                    </li>
                    <li>
                      <span
                        *ngIf="
                          !prospect?.score?.skills_required ||
                          prospect?.score?.skills_required?.length == 0
                        "
                        >No Skills found in job Description</span
                      >
                    </li>
                  </ol>
                  <div class="hr-line fullWidth"></div>
                </div>
                <!-- skills found -->
                <div class="row">
                  <label class="col-sm-12 scoreDes_label">Skills Found: </label>
                  <ol class="col-sm-12">
                    <li *ngFor="let skills_found of prospect.score.skills_profile">
                      <span *ngIf="skills_found">{{ skills_found }}.</span>
                    </li>
                    <li>
                      <span
                        *ngIf="
                          !prospect?.score?.skills_profile ||
                          prospect?.score?.skills_profile?.length == 0
                        "
                        >No closest skills found</span
                      >
                    </li>
                  </ol>
                  <div class="hr-line fullWidth"></div>
                </div>
              </ng-template>
            </div>
          </div>
          <!-- skills -->
          <div class="hr-line"></div>
          <div class="row">
            <div class="mainHeadingTitle">Technical Skills</div>
            <div class="row">
              <div class="col-md-6 skillsOuter" *ngFor="let skill of prospect.skills">
                <div class="" [innerHTML]="skill"></div>
              </div>
            </div>
          </div>
          <!-- career -->
          <div class="hr-line"></div>
          <div class="row">
            <div class="mainHeadingTitle">Career</div>
            <div class="row">
              <div
                class="col-md-12 skillsOuter"
                *ngFor="let career of prospect.experience; let i = index; let last = last"
              >
                <div>
                  <div class="headingTitle">{{ career.title }}</div>
                  <div class="">
                    <span class="prospectFor">CompanyName:</span> {{ career.company_name }}
                  </div>
                  <span class="prospectFor">Duration:</span>
                  <span class="">{{ career.start || '' }}</span>
                  <span> - </span>
                  <span class="">{{ career.end || '' }}</span>
                  <div *ngFor="let ind of career.industries">
                    <span class="prospectFor">Industries:</span> <span>{{ ind }}</span>
                    <div *ngIf="i == 0">{{ prospect.current_company_specialties }}</div>
                  </div>
                  <div class="hr-line" *ngIf="!last"></div>
                </div>
              </div>
            </div>
          </div>
          <!-- education -->
          <div class="hr-line"></div>
          <div class="row">
            <div class="mainHeadingTitle">Education</div>
            <div class="row">
              <div class="col-md-12 skillsOuter" *ngFor="let edu of prospect.education">
                <div class="headingTitle">{{ edu.schoolName }}</div>
                <div class="">{{ edu.fieldOfStudy }}</div>
              </div>
            </div>
          </div>
          <!-- summary -->
          <div class="hr-line"></div>
          <div class="row">
            <div class="mainHeadingTitle">Summary</div>
            <div class="row">
              <div class="col-md-12 skillsOuter">
                <div class="skillsListing">{{ prospect.summary }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-card>
  </div>
</div>
