@import '../../../../assets/styles/base.scss';
@import '../../../../assets/styles/variables.scss';
mat-card {
  padding: 20px;
  // width: 50%;
}
.jobList {
  display: flex;
  justify-content: center;
  // align-items: center;
  height: 80vh;
  width: 100%;
}
.subTitle {
  margin: 15px 0 15px 0;
}
a {
  color: $secondary-color;
}
.hr-line {
  margin: 10px 0 10px 0;
  border-bottom: 1px solid $btn-border-color;
}
.rightMargin {
  margin-right: 15px;
}
.jobTitle {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  /* font: normal 400 36px/1.4 Arial; */
  /* font-weight: 400; */
  color: $primary-color !important;
  text-transform: none;
  letter-spacing: 0px;
  cursor: pointer;
}
.details-button {
  height: 40px;
  cursor: pointer;
}
.alignCenter {
  align-items: center;
}
.logo {
  width: 90px;
}
.center-align {
  width: 100%;
  margin: auto;
}
.jobList .inner-container {
  width: 50%;
}
.prospectImage {
  width: 120px;
}
.name {
  display: flex;
  align-items: center;
}
.skillsListing {
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: pre-line;
  overflow: auto;
}
.degree {
  font-size: 14px;
  font-weight: 500;
  margin-left: 10px;
}
.locality {
  margin-top: 10px;
}
.buttonsOuter {
  justify-content: space-evenly;
  margin: 15px 0 15px 0;
}
.prospectFor {
  font-weight: 600;
}
mat-card .title {
  // font-family: "ubuntuBold";
  font-size: 24px;
  text-align: center;
}
.headingTitle {
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  font-size: 18px;
  padding-bottom: 10px;
}
.mainHeadingTitle {
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  font-size: 24px;
  padding-bottom: 10px;
  width: 100%;
  text-align: center;
}
.skillsOuter {
  width: 100%;
}

@media (max-width: $breakpoint-medium) {
  .jobList .inner-container {
    width: 100%;
  }
}
